script(type='text/ng-template', id='ShippingTemplate.html').
  <div class="row">
      <div class="grid-12">
          <div class="border-wrap">
                  <div class="product-scroll">
                      <div class="table-responsive">
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <td width="5%"><input type="radio" ng-model='vm.tmp_shipping_cost', value=10></td>
                                      <td width="70%">Standard Shipping {{10 | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td width="5%"><input type="radio" ng-model='vm.tmp_shipping_cost'></td>
                                      <td width="70%">Free Shipping</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
          </div>
          <div class="text-right">
          <a href="#" class="btn btn-white _mr5 popup-modal-dismiss" ng-click='vm.popOverStatus()'>Close</a>
          <input type="button" class="btn btn-orange" value="Apply" ng-click='vm.setShippingCost(vm.tmp_shipping_cost)'>
          </div>
      </div>
  </div>
script(type='text/ng-template', id='VatTemplate.html').
  <div class="row">
      <div class="grid-12">
          <div class="border-wrap">
                  <div class="product-scroll">
                      <div class="table-responsive">
                          <table class="table">
                              Taxes are automatically calculated.
                              <tbody>
                                  <tr>
                                      <td width="5%"><input type="checkbox" ng-model='vm.tmp_vat_cost',ng-value='vm.tmp_vat_cos'></td>
                                      <td width="70%">Charge taxes {{vm.tax_setting.rate ? vm.tax_setting.rate : 0}}%</td>
                                      <td></td>
                                      <td></td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                  </div>
          </div>
          <div class="text-right">
          <a href="#" class="btn btn-white _mr5 popup-modal-dismiss" ng-click='vm.popOverVatStatus()'>Close</a>
          <input type="button" class="btn btn-orange" value="Apply" ng-click='vm.setVat(vm.tmp_vat_cost)'>
          </div>
      </div>
  </div>
.main-panel(ng-init='vm.getOrder()')
  form(ng-submit='vm.updateOrder()',name='update_order')
    fieldset(ng-disabled='vm.isSaving')
      .header
        .row
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-tag")
            ol.breadcrumb
              li
                a(href='/product') Orders
              li.active {{vm.order.parent_order ? vm.order.parent_order : vm.order.id}}
          .grid-4.grid-5-sm.grid-6-xs.text-right
            a.btn.btn-white._mr5(type='button',ui-sref='orders.show({id:vm.order.id})') Cancel
            input.btn.btn-orange(type='submit', value='Save Changes', ng-disabled='vm.btnSubmit')
      .main-content.inner-padding
        .row
          .alert.alert-error(ng-show="vm.error")
            div(ng-repeat='(key, error) in vm.error')
              div(ng-repeat='value in error')
                p{{value}}
        .row
          .alert.alert-error(ng-show="vm.error_message")
            p{{vm.error_message}}
          .grid-8.grid-12-sm.grid-12-xs
            .border-wrap
              ul
                li
                  label Order details
                  .row
                    .grid-12
                      input.popup-modal._mb20._100(type='text', href='#products',ng-click='vm.openProductModal()', placeholder='Find products..')
                  table.table._mb25
                    //- p {{vm.order.order_product}}
                    tbody
                        tr(ng-repeat='(key, product) in vm.order.order_product track by $index')
                          td(width='30%') {{product.product.name}}
                          td(width='10%') {{product.product.price | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                          td(width='5%')
                            i.fa.fa-close
                          td(width='10%',ng-init='vm.tmpQuantity = product.quantity')
                            input._100(type='number',ng-model='product.quantity',ng-change='vm.computeEditPrice(vm.order.order_product)', min='0',max='{{vm.tmpQuantity + product.product.quantity}}', required='')


                          td(width='10%') {{product.product.price * product.quantity | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                          td.text-right(width='10%')
                            a(href='#',ng-click='vm.removeEditProductOrder(product)')
                              span.fa.fa-trash
              .grid-5.grid-7-offset
                table.table.no-border
                  tbody
                    tr(ng-show='vm.modalPromo.length <= 0')
                      td(width='30%') Promo
                        span.fa.fa-plus-circle(ng-model = 'vm.totalPromo',ng-show='vm.order.order_product.length > 0',ng-click="vm.openPromoModal()",ng-change="vm.openPromoModal()")
                    tr(ng-show='vm.order.order_product.length > 0', ng-repeat='(key, promo) in vm.modalPromo')
                      td(width='30%') {{$index == 0 ? 'Promo ' : ''}}
                        span.fa.fa-plus-circle(ng-model = 'vm.totalPromo',ng-show='vm.order.order_product.length > 0 && $index == 0',ng-click="vm.openPromoModal()",ng-change="vm.openPromoModal()")
                      td(width='35%') {{promo.code}}
                      td.text-right(width='20%') ({{promo.amount_promo | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})
                      td.text-right(ng-click='vm.removePromo(promo)')
                        span.fa.fa-trash
                    tr(ng-show='vm.modalPromo.length > 0 && vm.order.order_product.length > 0 ')
                      td(width='30%')
                      td.blue(width='35%') Total Promo
                      td.text-right.blue(width='20%') ({{vm.totalPromo | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})
                    tr
                      td(width='30%') Subtotal
                      td(width='35%')
                      td.text-right(width='20%') {{vm.total - vm.totalPromo < 0 ? 0 : vm.total - vm.totalPromo | currency:(vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                    tr
                      td(width='30%') Shipping
                        //- span.fa.fa-plus-circlespan.fa.fa-plus-circle(uib-popover-template="'ShippingTemplate.html'",popover-trigger="outsideClick", popover-placement='bottom',popover-is-open="vm.isPopoverOpen",ng-click='vm.popOverStatus()' )
                      td(width='35%')
                      td.text-right(width='25%') {{vm.order.shipping_zone_based_rate.amount ? vm.order.shipping_zone_based_rate.amount : 0| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                    tr
                      td(width='30%') Tax (VAT)
                        span.fa.fa-plus-circlespan.fa.fa-plus-circle(uib-popover-template="'VatTemplate.html'",popover-trigger="outsideClick", popover-placement='bottom',popover-is-open="vm.isVatPopoverOpen",ng-click='vm.popOverVatStatus()' )
                      td(width='35%'){{vm.tmp_vat_cost ? (vm.tax_setting ? 'VAT ' + vm.tax_setting.rate +'%': 'VAT ' + '0%') : ''}}
                      td.text-right(width='20%') {{vm.vat = (vm.defaultVat/100) * (vm.total - vm.totalPromo < 0 ? 0 : vm.total - vm.totalPromo)| currency:(vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2 }}
                    tr
                      td(width='30%')
                        strong.orange Total
                      td(width='35%')
                      td.text-right.orange(width='20%')
                        strong {{(vm.total + (vm.order.shipping_zone_based_rate.amount | num) + vm.vat) - vm.totalPromo < 0 ? 0 : (vm.total + (vm.order.shipping_zone_based_rate.amount |num ) + vm.vat) - vm.totalPromo | currency:(vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                      td
              .clear

          .grid-4.grid-12-sm.grid-12-xs
            .border-wrap
              ul
                li
                  .row
                    .grid-6
                      label Find or create a customer
                    .grid-6.text-right

                      a.popup-modal.orange(href='',ng-click='vm.openCustomerModal()') Add new customer
                  ui-select(ng-init='vm.getCustomers()',ng-model='vm.asyncCustomer', ng-disabled='false',theme='selectize', title='Choose a customer', required)
                    | {{vm.asyncCustomer = $select.selected;""}}
                    ui-select-match(placeholder='Select or search a customer in the list...') {{$select.selected.email}}
                    ui-select-choices(repeat='customer in vm.customers | filter: $select.search')
                      div(ng-bind-html='customer.email | highlight: $select.search')
                      small
                        | {{customer.first_name }} {{ customer.last_name}}
            .border-wrap
              ul
                li
                  .row
                    .grid-6
                      label
                        strong {{vm.asyncCustomer.first_name +' '+ vm.asyncCustomer.last_name}}
                    .grid-6.text-right
                      a.popup-modal.orange(ng-click='vm.openAddressModal()',href='')
                        i.fa.fa-pencil
                        |  Edit
                   p {{vm.asyncCustomer.email}}
                li
                  label
                    strong Billing Address
                  p {{vm.asyncCustomer.customer_billing_address.street_address}}
                li
                  label
                    strong Shipping Address
                  p {{vm.asyncCustomer.customer_shipping_address.street_address}}
                li
                  label
                    strong Ship to
                  input._100(type='text',ng-model='vm.order.ship_to',placeholder="Name")

            .border-wrap
              .row
                ul
                  li
                    label
                      strong Payment Information
                  li
                    .radio-inline
                      label
                        input(type='radio', name='options', value='option1', checked='')
                        |                                             Cash On Delivery
                    .radio-inline
                      label
                        input(type='radio', name='options', value='option2')
                        |                                            Paypal
                    .radio-inline
                      label
                        input(type='radio', name='options', value='option2')
                        |                                             Credit Card
            .border-wrap
              .row
                .grid-12
                  ul(ng-init='vm.getDynamicValues()')
                    li
                      label
                        strong Shipping Method
                    li
                      .radio-inline(ng-repeat='(key, dynamic_value) in vm.dynamic_values')
                        label
                          input(type='radio', ng-model='vm.order.shipping_method', value='{{dynamic_value.id}}',ng-required='!vm.order.shipping_method',ng-change='vm.changeShippingMethod()')
                          | {{dynamic_value.value}}
              .row(ng-show='vm.order.shipping_method == 1 || vm.order.shipping_method == 3')
                .grid-12
                  .border-wrap
                    .product-scroll
                      .table-responsive
                        table.table
                          tbody
                            tr(ng-repeat='shipping_zone_based_rate in vm.shipping_zone_based_rate')
                              td(width='5%')
                                input(type='radio', ng-model='vm.shipping_cost',ng-value='shipping_zone_based_rate.id',ng-change='vm.changeShippingZone(shipping_zone_based_rate.id)', ng-required='!vm.shipping_cost && vm.order.shipping_method != 2')
                              td(width='70%') {{shipping_zone_based_rate.name}} ({{shipping_zone_based_rate.amount | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})
                            tr
                              td(width='5%')
                                input(type='radio', ng-model='vm.shipping_cost', value=null, ng-required='!vm.shipping_cost && vm.order.shipping_method != 2',ng-change='vm.changeShippingZone(0)')
                              td(width='70%') Free Shipping