home-sidebar
div(ui-view='')
  .main-panel
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li Orders
        .grid-4.grid-5-sm.grid-6-xs.text-right
            a.btn.btn-white._mr5(href='',ng-click="vm.openExportModal()") Export
            input.btn.btn-orange(ui-sref='orders.new', ui-sref-opts='{reload: true, inherit: false}', type='submit', value='Add new order')
    .main-content.listing-padding
      //- p asd{{vm.stateParams}}
      .alert.alert-success(ng-show='vm.stateParams.CreateOrder')
        p
        | Order has  been successfully created.
      .border-wrap
        .row
          .grid-2.grid-3-sm._mb25
            label.select
              select
                option Filter Orders
                option Order
                option Date
                option Customer
                option Payment Status
          .grid-7.grid-9-sm
            .search
              input(type='text', ng-model='search',placeholder='Start typing to search for orders..')
              i.fa.fa-search
          .grid-2.grid-5-sm
            .daterange
              input#date(type='text', placeholder='Select Dates')
              //- #pickerRange(date-range='',type='text', start='vm.dateRange.startDate', end='vm.dateRange.endDate', date-change='changeDate',timezone='UTC')
          .grid-1.grid-3-sm.text-right
            input.btn.btn-orange._100(type='submit', value='Apply')

        .table-responsive
          table.table(ng-init='vm.getOrders()')
            thead
              tr
                th._05
                  input#select-all(type='checkbox' ng-model='vm.selectedAll' ng-click='vm.selectAll()')
                th._15(ng-click="vm.sortBy('id')") Order number
                  span.fa(ng-show="vm.propertyName === 'id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('created_at')") Created at
                  span.fa(ng-show="vm.propertyName === 'created_at'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('customer.first_name')") Full Name
                  span.fa(ng-show="vm.propertyName === 'customer.first_name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('customer.email')") Email Address
                  span.fa(ng-show="vm.propertyName === 'customer.email'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('order_history.order_status.id')") Order Status
                  span.fa(ng-show="vm.propertyName === 'order_history.order_status.id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('grand_total |num')") Total
                  span.fa(ng-show="vm.propertyName === 'grand_total |num'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')

                //- th(colspan='3', width='8%') Actions
            tbody
              tr(dir-paginate='(key, order) in vm.orders |filter : search|orderBy:vm.propertyName: vm.reverse  | itemsPerPage: 10',current-page='vm.currentPage')
                td
                  input(type='checkbox' ng-model='order.Selected' ng-click='vm.checkIfAllSelected()')
                td
                  a.orange(ui-sref='orders.show({id: order.id})',ui-sref-opts='{reload: true, inherit: false}') {{order.parent_order? order.parent_order : order.id}}
                td {{order.created_at | date:'MMMM d, y h:mm a': (vm.timezone.offset <= 0 ? ''+vm.timezone.offset : '+'+vm.timezone.offset) }}
                td {{ order.customer.first_name }} {{order.customer.middle_name }} {{order.customer.last_name }}
                td {{ order.email }}
                td {{ order.order_history.order_status.name | capitalize }}
                td {{ order.grand_total | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
                //- td
                //-   a(ui-sref='orders.show({id:order.id})')
                //-     span.fa.fa-eye
                //- td
                //-   a(ui-sref='orders.edit({id:order.id})')
                //-     span.fa.fa-pencil
                //- td
                //-   a(ng-click='vm.deleteOrder(order)')
                //-     span.fa.fa-trash
      .row
        .grid-1.grid-3-sm
          label.select
            select(ng-model='vm.action' ng-options='action.name as action.name for action in vm.actions', ng-change='vm.SelectAction()')

        .grid-1.grid-2-sm
          input.btn.btn-orange(type='submit', value='Apply',ng-click='vm.SendAction()')
        .grid-12.grid-1-sm
          .pagination
            dir-pagination-controls(boundary-links='true')
