.modal-header
  h2#modal-title.modal-title Select promo
#modal-body.modal-body
  .grid-12
    .row
      .border-wrap
        form
          ui-select(ng-init='vm.getPromos()',multiple='', ng-model='vm.tmpPromo', theme='selectize', tagging='', ng-disabled='disabled')
                ui-select-match(placeholder='Select or search promo...') {{$item.code}}
                ui-select-choices(repeat='promo in vm.promos | filter:$select.search') {{promo.code}}
          .product-scroll
            .table-responsive
              table.table
                thead
                  tr
                    th(width='20%') Code
                    th(width='20%') Description
                    th(width='10%') Value
                    th(width='10%') Type
                tbody
                  tr(ng-repeat='(key, promo) in vm.tmpPromo |filter : search')
                    td(width='20%') {{promo.code}}
                    td(width='20%') {{promo.description}}
                    td(width='10%') {{promo.value}}{{promo.amount_type_id == 1 ? '%' : ''}}
                    //- td(width='10%') {{promo.promo_type_id}}
                    td(width='10%') {{promo.amount_type_id == 1 ? 'Percentage' : 'Fixed'}}
  .row
    .grid-10
      //- .pagination
      //-       dir-pagination-controls(boundary-links='true')
.modal-footer
  a.btn.btn-white._mr5.popup-modal-dismiss(ng-click='vm.cancel()') Cancel
  input.btn.btn-orange(type='submit',ng-click='vm.addPromo()', value='Apply')