.modal-header
  h2#modal-title.modal-title Select Products
#modal-body.modal-body
  .grid-12
    .row
      .border-wrap
        form
          input._mb20._100(type='text',ng-model='search', placeholder='Find products..', autofocus='')
          .product-scroll
            .table-responsive
              table.table
                thead
                  tr
                    th(width='5%')
                    th(width='20%') SKU
                    th(width='20%') Name
                    th(width='10%') Price
                    th(width='10%') Availability
                tbody
                  tr(dir-paginate='(key, product) in vm.modalProduct.products |filter : search | itemsPerPage: 10 ',current-page='vm.currentPage',ng-show='product.in_stock')

                    td(width='5%')
                      input(type='checkbox', ng-model='product.Selected')
                    td(width='20%') {{product.sku}}
                    td(width='20%') {{product.name}}
                    td(width='10%') {{product.price | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                    td.text-right {{product.in_stock? 'Available' : 'Unavailable'}}
  .row
    .grid-10
      .pagination
            dir-pagination-controls(boundary-links='true')
.modal-footer
  a.btn.btn-white._mr5.popup-modal-dismiss(ng-click='vm.cancel()') Cancel
  input.btn.btn-orange(type='submit',ng-click='vm.addProductToOrder()', value='Add to order')
