form(ng-submit='vm.edit(vm.asyncCustomer)',name='edit_address')
  .modal-header
    p.text-right
      a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
        i.fa.fa-close
    h2 Update Billing and Shipping Address
  #modal-body.modal-body
        .border-wrap
          h3 Billing Address
            ul
              li
                label &nbsp
                textarea._100(ng-model='vm.asyncCustomer.customer_billing_address.street_address', id='', cols='30', rows='5', required='')
              li
                label Country
                ui-select(ng-model='vm.BillingPlace',  ng-disabled='false',theme='selectize', title='Choose a country', required)
                  {{vm.asyncCustomer.customer_billing_address.country = $select.selected.name;""}}
                  ui-select-match(placeholder='Select or search a country in the list...') {{$select.selected.name}}
                  ui-select-choices(repeat='country in vm.countries | filter: $select.search')
                    span(ng-bind-html='country.name | highlight: $select.search')
              li
                label City
                input._100(type='text',ng-model='vm.asyncCustomer.customer_billing_address.city', required='')
              li
                label Zip / Postal Code (optional)
                input._100(type='text',ng-model='vm.asyncCustomer.customer_billing_address.zip_code', required='')
        .border-wrap
          h3 Shipping Address
            ul
              li
                label &nbsp
                textarea._100(ng-model='vm.asyncCustomer.customer_shipping_address.street_address', id='', cols='30', rows='5', required='')
              li
                label Country
                ui-select(ng-model='vm.ShippingPlace',  ng-disabled='false',theme='selectize', title='Choose a country', required)
                  {{vm.asyncCustomer.customer_shipping_address.country = $select.selected.name;""}}
                  ui-select-match(placeholder='Select or search a country in the list...') {{$select.selected.name}}
                  ui-select-choices(repeat='country in vm.countries | filter: $select.search')
                    span(ng-bind-html='country.name | highlight: $select.search')
              li
                label City.
                input._100(type='text',ng-model='vm.asyncCustomer.customer_shipping_address.city', required='')
              li
                label Zip / Postal Code (optional)
                input._100(type='text',ng-model='vm.asyncCustomer.customer_shipping_address.zip_code', required='')
        .text-right
          a.popup-modal-dismiss.btn.btn-white._mr5(href='',ng-click='vm.cancel()') Cancel
          input#submitbutton.btn.btn-orange(type='submit', value='Save Changes')
