form(ng-submit='vm.create(vm.modalCustomer)',name='new_customer')
  .modal-header
    p.text-right
      a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
        i.fa.fa-close
    h2#modal-title.modal-title Create new customer
  #modal-body.modal-body
    .border-wrap
      h3 Basic Information
      ul
        li
          label First Name
          input._100(type='text',ng-model='vm.modalCustomer.first_name', required='', )
        li
          label Last Name
          input._100(type='text',ng-model='vm.modalCustomer.last_name', required='')
        li
          label Email Address
          input._100(type='text',ng-model='vm.modalCustomer.email', required='')
        li
          label Password
          input._100(type='password', ng-model='vm.modalCustomer.password', required='')
        li
          label Mobile No.
          input._100(type='text', ng-model='vm.modalCustomer.mobile_number', required='' )
    .border-wrap
      h3 Billing Address
      ul(ng-init='vm.countrylist()')
              li
                label Address
                textarea._100(ng-model='vm.modalCustomer.billing_address', id='', cols='30', rows='5', required='')
              li
                label Country
                  select._100(ng-model='vm.modalCustomer.billing_country', ng-options='country.name as country.name for country in vm.country', required='', autofocus='')
              li
                label City
                input._100(type='text',ng-model='vm.modalCustomer.billing_city', required='')
              li
                label Zip / Postal Code (optional)
                input._100(type='text',ng-model='vm.modalCustomer.billing_zip', required='')
    .border-wrap
      h3 Shipping Address
      ul(ng-init='vm.countrylist()')
        li
          label Address
          textarea._100(ng-model='vm.modalCustomer.shipping_address', id='', cols='30', rows='5', required='')
        li
          label Country
            select._100(ng-model='vm.modalCustomer.shipping_country', ng-options='country.name as country.name for country in vm.country', required='', autofocus='')
        li
          label City
          input._100(type='text',ng-model='vm.modalCustomer.shipping_city', required='')
        li
          label Zip / Postal Code (optional)
          input._100(type='text',ng-model='vm.modalCustomer.shipping_zip', required='')
  .modal-footer
    a.popup-modal-dismiss.btn.btn-white._mr5(href='#',ng-click='vm.cancel()') Cancel
    input#submitbutton.btn.btn-orange(type='submit', value='Save Customer')
