form(ng-submit='vm.changeStatus(vm.order.id)',name='change_status')
  .main-panel(ng-init='vm.getOrder()')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/order') Orders
            li.active {{vm.order.parent_order ? vm.order.parent_order : vm.order.id}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
            a.btn.btn-white._mr5(href='/order') Back
            a.btn.btn-orange._mr5(href='#',ng-class="{'disabled': vm.disableButton}", ng-show='vm.order.order_history.order_status.id==vm.cart || vm.order.order_history.order_status.id==vm.pending || vm.order.order_history.order_status.id==vm.paid || vm.order.order_history.order_status.id==vm.processing',ng-click='vm.showConfirm($event)',ng-disabled='vm.cancel') Cancel Order
            a.btn.btn-orange._mr5(href='/order/{{vm.order.id}}/edit',ng-show='vm.order.order_history.order_status.id < 5') Edit
            input.btn.btn-orange(type='submit',ng-if="vm.order.order_history.order_status.name=='pending'", value="Verify Payment")
            input.btn.btn-orange(type='submit',ng-if="vm.order.order_history.order_status.name=='paid'", value="Ship")
            //- input.btn.btn-orange(type='submit',ng-if="vm.order.order_history.order_status.name=='payment verified' && vm.order.btnShip==true", value="Submit Shipment")
            //- input.btn.btn-orange(type='submit',ng-if="vm.order.order_history.order_status.name=='payment verified' && vm.order.btnShip==true", value="Submit Shipment")
            a.btn.btn-orange(href='#',ng-model='vm.order.btnInvoice',ng-click='vm.order.btnInvoice=true',ng-if="vm.order.order_history.order_status.name=='processing'",ng-show='vm.order.btnInvoice != true') Invoice
            input.btn.btn-orange(type='submit',ng-disabled='vm.BtnStatusSubmit',ng-if="vm.order.order_history.order_status.name=='processing' && vm.order.btnInvoice==true", value="Submit Invoice")
     .main-content.inner-padding
      .row
        .grid-8.grid-12-sm.grid-12-xs
          .border-wrap
            ul
              li
                label Order details
                table.table._mb25
                  thead
                      tr
                        th(width='25%') SKU
                        th(width='25%') Name
                        th(width='10%') Price
                        th(width='5%')
                        th(width='15%') Quantity
                        th(width='15%') Total
                  tbody
                      tr(ng-repeat='(key, product) in vm.order.order_product track by $index')
                        td(width='25%') {{product.product.sku}}
                        td(width='25%') {{product.product.name}}
                        td(width='10%') {{product.total_price}}
                        td(width='5%')
                          i.fa.fa-close
                        td(width='15%')
                          p {{product.quantity}}
                        td(width='15%') {{product.total_price * product.quantity | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
            .grid-5.grid-7-offset
              table.table.no-border
                tbody
                  tr
                    td(width='30%') Subtotal
                    td(width='35%')
                    td.text-right(width='20%') {{vm.total | currency:(vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                  tr(ng-show='vm.order.order_product.length > 0', ng-repeat='(key, promo) in vm.modalPromo')
                    td(width='30%') {{$index == 0 ? 'Promo ' : ''}}
                    td(width='35%') {{promo.code}}
                    td.text-right(width='20%') ({{promo.amount_promo | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})
                    td.text-right
                  tr(ng-show='vm.modalPromo.length > 0 && vm.order.order_product.length > 0 ')
                    td(width='30%')
                    td.blue(width='35%') Total Promo
                    td.text-right.blue(width='20%') ({{vm.totalPromo | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})

                  tr
                    td(width='30%') Shipping
                    td(width='35%')
                    td.text-right(width='25%') {{vm.order.shipping_zone_based_rate.amount ? vm.order.shipping_zone_based_rate.amount : 0| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                  tr
                    td(width='30%') Tax (VAT)
                    td(width='35%')
                    td.text-right(width='20%') {{0 | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                  tr
                    td(width='30%')
                      strong.orange Total
                    td(width='35%')
                    td.text-right.orange(width='20%')
                      strong {{(vm.total + (vm.order.shipping_zone_based_rate.amount |num))  - vm.totalPromo < 0 ? 0 : (vm.total + (vm.order.shipping_zone_based_rate.amount |num)) - vm.totalPromo | currency:(vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                    td
            .clear

        .grid-4.grid-12-sm.grid-12-xs
          .border-wrap
            ul
              li
                label Order Status
                p {{vm.order.order_history.order_status.name | capitalize}}

          .border-wrap
            ul
              li
                .row
                  .grid-6
                    label
                      strong {{vm.asyncCustomer.first_name +' '+ vm.asyncCustomer.last_name}}
                  .grid-6.text-right
                    a.popup-modal.orange(ng-click='vm.openAddressModal()',href='')
                      |  View
                 p {{vm.asyncCustomer.email}}
              li
                label
                  strong Billing Address
                p {{vm.asyncCustomer.customer_billing_address.street_address}}
              li
                label
                  strong Shipping Address
                p {{vm.asyncCustomer.customer_shipping_address.street_address}}
              li(ng-show='vm.order.ship_to')
                label
                  strong Ship to
                p {{vm.order.ship_to}}

          .border-wrap(ng-if="vm.order.order_history.order_status.name=='processing'&&vm.order.btnInvoice==true")(ng-show="vm.order.customer_id == null")
            ul
              li
                .row
                  .grid-12
                    .checkbox-inline
                      label
                        input(type='checkbox', ng-model ="vm.checkedEmail")
                        span.orange Email Copy of Invoice
                        {{vm.order.customer_id}}
              li(ng-show="vm.checkedEmail")
                input._100(type='email',ng-model='vm.email',placeholder="Email")


          .border-wrap
            .row
              .grid-12._mb15
               ul
                li
                  label
                    strong Payment Information
                li
                  .radio-inline
                    label
                      input(type='radio', name='options', value='option1', checked='')
                      |                                             Cash On Delivery
                  //- .radio-inline
                  //-   label
                  //-     input(type='radio', name='options', value='option2')
                  //-     |                                            Paypal
                  //- .radio-inline
                  //-   label
                  //-     input(type='radio', name='options', value='option2')
                  //-     |                                             Credit Card


          //- .border-wrap(ng-if="vm.order.order_history.order_status.name=='payment verified'")
          .border-wrap
            .row
              .grid-12
                ul(ng-init='vm.getDynamicValues()')
                  li
                    label
                      strong Shipping Method
                  li(ng-repeat='(key, dynamic_value) in vm.dynamic_values')
                    .radio-inline(ng-if='vm.order.shipping_method == dynamic_value.id')
                      label
                        input(type='radio', ng-model='vm.order.shipping_method', value='{{dynamic_value.id}}',ng-required='!vm.order.shipping_method')
                        | {{dynamic_value.value}}
                  li(ng-show='vm.order.shipping_zone_based_rate')
                    p.text-center {{vm.order.shipping_zone_based_rate.name}} ({{vm.order.shipping_zone_based_rate.amount | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}})