home-sidebar
div(ui-view='')
  .main-panel(ng-init='vm.all()')
    home-navbar(headerd="texthead")
    .main-content.listing-padding
      .empty-state.text-center(ng-if='vm.customers.length <= 0')
        h1 Add your first customer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        figure
          img(src='img/customer-icon.png', alt='')
        a.btn.btn-orange(ui-sref='customers.new()') Add new customer {{ texthead.name }}
      .border-wrap(ng-if='vm.customers.length >= 1')
        .row
          .grid-12._mb25
            .search
              input(type='text', ng-model='search', placeholder='Search for customer')
              button(type='submit')
                span.fa.fa-search
        .table-responsive
          table.table
            thead
              tr
                th._05
                  //- input#select-all(type='checkbox' ng-model='' ng-click='')
                th(ng-click="vm.sortBy('first_name')") full name
                  span.fa(ng-show="vm.propertyName === 'first_name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('email')") email address
                  span.fa(ng-show="vm.propertyName === 'email'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('mobile_number')") mobile no.
                  span.fa(ng-show="vm.propertyName === 'mobile_number'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('created_at')") date registered
                  span.fa(ng-show="vm.propertyName === 'created_at'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('deactivate')") status
                  span.fa(ng-show="vm.propertyName === 'deactivate'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
            tbody
              tr(dir-paginate='customer in vm.customers | filter : search | orderBy:vm.propertyName: vm.reverse | itemsPerPage: 10',current-page='vm.currentPage')
                td
                  //- input(type='checkbox' ng-model='' ng-click='')
                td
                  a.orange(ui-sref='customers.edit({id: customer.id})') {{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}
                td {{ customer.email }}
                td {{ customer.mobile_number }}
                td {{ customer.created_at | date : 'MMM d, y h:mm a' }}
                td {{ customer.deactivate? 'Deactivated' : 'Active'}}
      .row
        .grid-12.grid-7-sm
          .pagination
            dir-pagination-controls(boundary-links='true')
