.main-panel
  form(ng-submit='vm.create(vm.customer)', name='customerForm')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li
              a(ui-sref="customers()") customers
            li.active add customer
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(ui-sref="customers()") Cancel
          input.btn.btn-orange(type='submit', value='Save Customer')
    .main-content.inner-padding
      .alert.alert-error(ng-show='vm.errors')
        h3 {{ vm.errors.length }} error(s) in customer:
        div(ng-repeat='(index, error) in vm.errors')
          div(ng-repeat = 'value in error')
            p
              | {{ value }}
      .row
        .grid-3.grid-12-xs
          h3 Basic Information
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label First Name
                input._100(type='text',ng-model='vm.customer.first_name', required='', )
              li
                label Last Name
                input._100(type='text',ng-model='vm.customer.last_name', required='')
              li
                label Birthdate
                input._30(type='text', ng-model='vm.customer.birthdate',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="date" ,format='yyyy-MM-dd')

              li
                label Email Address
                input._100(type='text',ng-model='vm.customer.email', required='')
              li
                label Password
                input._100(type='password', ng-model='vm.customer.password', required='')
              li
                label Password Confirmation
                input._100(type='password', ng-model='vm.customer.password_confirmation', required='')
              li
                label Mobile No.
                input._100(type='text', ng-model='vm.customer.mobile_number', required='' )
        hr.border-break
      .row
        .grid-3.grid-12-xs
          h3 Billing Address
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Address
                textarea._100(ng-model='vm.customer.billing_address', id='', cols='30', rows='5', required='')
              li
                label Country
                ui-select(ng-model='vm.BillingPlace',  ng-disabled='false',theme='selectize', title='Choose a country', required)
                  | {{vm.customer.billing_country = $select.selected.name;""}}
                  ui-select-match(placeholder='Select or search a country in the list...') {{$select.selected.name}}
                  ui-select-choices(repeat='country in vm.countries | filter: $select.search')
                    span(ng-bind-html='country.name | highlight: $select.search')
                    //- small(ng-bind-html='country.code | highlight: $select.search')
                  //- input#customer._100.ui-autocomplete-input(type='text', g-places-autocomplete='', force-selection='true', ng-model='vm.BillingPlace',ng-change='vm.SelectBillingAddress()',required)

              li
                label City
                input._100(type='text',ng-model='vm.customer.billing_city',)
              li
                label Zip / Postal Code (optional)
                input._100(type='text',ng-model='vm.customer.billing_zip', required='')
        hr.border-break
      .row
        .grid-3.grid-12-xs
          h3 Shipping Address
        .grid-9.grid-12-xs
          .border-wrap
            ul(ng-init='vm.countrylist()')
              li
                label Same as Billing Address
                input(type='checkbox', ng-model='vm.checkboxVal',ng-true-value="'YES'", ng-false-value="'NO'", ng-change='vm.checkVal()')
              li
                label Address
                textarea._100(ng-model='vm.customer.shipping_address', cols='30', rows='5', required='')
              li
                label Country
                ui-select(ng-model='vm.ShippingPlace',  ng-disabled='false',theme='selectize', title='Choose a country',required)
                  | {{vm.customer.shipping_country = $select.selected.name;""}}
                  ui-select-match(placeholder='Select or search a country in the list...') {{$select.selected.name}}
                  ui-select-choices(repeat='country in vm.countries | filter: $select.search')
                    span(ng-bind-html='country.name | highlight: $select.search')
              li
                label City
                input._100(type='text',ng-model='vm.customer.shipping_city', required='')
              li
                label Zip / Postal Code (optional)
                input._100(type='text',ng-model='vm.customer.shipping_zip', required='')
        hr.border-break
      .row
        .grid-3.grid-12-xs
          h3 Notes
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Notes
                textarea._100(ng-model='vm.customer.note', cols='30', rows='5', required='')
