.main-panel(ng-init='vm.show()')
  .header
    .row
      .grid-8.grid-7-sm.grid-6-xs
        span(class="fa fa-bars" id="nav-icon")
        span(id="icon-title" class="fa fa-user")
        ol.breadcrumb
          li
            a(href='/customers') customers
          li.active {{vm.customer.first_name}} {{vm.customer.last_name}}
      .grid-4.grid-5-sm.grid-6-xs.text-right
        a.btn.btn-white._mr5(ui-sref='customers.edit({id: vm.customer.id})') Edit
  .main-content.inner-padding
    .alert.alert-success
      p
        | Customer has been saved
    .row
      .grid-3.grid-12-xs
        h3 Basic Information
      .grid-9.grid-12-xs
        .border-wrap
          ul
            li
              label
                strong First Name
              p
                | {{vm.customer.first_name}}
            li
              label
                strong Last Name
              p
                | {{vm.customer.last_name}}
            li
              label
                strong Birthdate
              p
                | {{vm.customer.birthdate}}
            li
              label
                strong Email Address
              p
                | {{vm.customer.email}}
            li
              label
                strong Mobile No.
              p
                | {{vm.customer.mobile_number}}
      hr.border-break
    .row
      .grid-3.grid-12-xs
        h3 Billing Address
      .grid-9.grid-12-xs
        .border-wrap
          ul
            li
              label
                strong Address
                p
                  | {{vm.customer.customer_billing_address.street_address }}
            li
              label
                strong Country
              p
                | {{vm.customer.customer_billing_address.country }}
            li
              label
                strong City
              p
                | {{vm.customer.customer_billing_address.city }}
            li
              label
                strong Zip / Postal Code (optional)
              p
                | {{vm.customer.customer_billing_address.zip_code }}

      hr.border-break
    .row
      .grid-3.grid-12-xs
        h3 Shipping Address
      .grid-9.grid-12-xs
        .border-wrap
          ul
            li
              label
                strong Address
                p
                  | {{vm.customer.customer_shipping_address.street_address }}
            li
              label
                strong Country
              p
                | {{vm.customer.customer_shipping_address.country }}
            li
              label
                strong City
              p
                | {{vm.customer.customer_shipping_address.city }}
            li
              label
                strong Zip / Postal Code (optional)
              p
                | {{vm.customer.customer_shipping_address.zip_code }}
      hr.border-break
    .row
      .grid-3.grid-12-xs
        h3 Notes
      .grid-9.grid-12-xs
        .border-wrap
          ul
            li
              label
                strong Notes
              p
                | {{vm.customer.note }}
