<div ng-init="vm.edit()"></div>

<section id="auto-height" class="bg-gray" style="min-height: 600px;">
    <div class="form-login">
        <a href="#" class="logo-jump"></a>
        <toaster-container toaster-options="{'time-out': 3000, 'position-class': 'alert-error','close-button':true}"></toaster-container>
        <div class="alert alert-error" ng-show="vm.errors">
          <ul ng-repeat="error in vm.errors">
            <li>{{error}}</li>
          </ul>
        </div>
        <div class="alert alert-error" ng-show="vm.error">
          <li>{{vm.error}}</li>
        </div>

        <form ng-submit="vm.update(user)" name="passwordForm">
            <label>New Password</label>
            <input type="password" ng-model="user.password" required>

            <label>Confirm Password</label>
            <input type="password" ng-model="user.password_confirmation" required>

            <input type="submit" value="Send" ng-disabled="passwordForm.$invalid">
            <div class="float-right">
                <a ui-sref="login">&larr; Back</a>
            </div>
        </form>
    </div>
</section>
