html
  body
    home-sidebar
    div(ui-view='')
      .main-panel
        .header
          .row
            .grid-8.grid-7-sm.grid-6-xs
              span(class="fa fa-bars" id="nav-icon")
              span(id="icon-title" class="fa fa-tag")
              ol.breadcrumb
                li Promo
            .grid-4.grid-5-sm.grid-6-xs.text-right
                input.btn.btn-orange(ui-sref='promo.new()', type='submit', value='Add New Promo')

        .main-content.listing-padding
          .border-wrap
            .row
              .grid-2.grid-3-sm.grid-4-xs._mb25
                label.select
                  select
                    option Filter promo
                    option name
              .grid-10.grid-9-sm.grid-8-xs
                .search
                  input(type='text', ng-model='search', placeholder='Start typing to search for promos..')
                  button(type='submit')
                    span.fa.fa-search

            .table-responsive(ng-init='vm.all()')
              table.table
                thead
                  tr
                    th._05
                        input#select-all(type='checkbox' ng-model='vm.selectedAll' ng-click='vm.selectAll()')
                    th._10(ng-click="vm.sortBy('code')") Code
                      span.fa(ng-show="vm.propertyName === 'code'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                    th._10(ng-click="vm.sortBy('amount_type_id')") Amount Type
                      span.fa(ng-show="vm.propertyName === 'amount_type_id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                    th._10(ng-click="vm.sortBy('value')") Value
                      span.fa(ng-show="vm.propertyName === 'value'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                    th(colspan='2', width='8%') Actions
                tbody
                  tr(dir-paginate='(key, p) in vm.promos |filter : search|orderBy:vm.propertyName: vm.reverse | itemsPerPage: 10',current-page='vm.currentPage')
                    td
                        input(type='checkbox' ng-model='p.Selected' ng-click='vm.checkIfAllSelected()')
                    td
                      a.orange(ui-sref='promo.edit({id:p.id})') {{ p.code }}
                    td {{p.amount_type.name}}
                    td {{p.value}}
                    td
                      a(ui-sref='promo.edit({id:p.id})')
                        span.fa.fa-pencil
                    td
                      a(ng-click='vm.deletePromo(p)')
                        span.fa.fa-trash
          .row
              .grid-1
                label.select
                  select(ng-model='vm.action'  ng-options='action.name as action.name for action in vm.actions')

              .grid-1
                input.btn.btn-orange(type='submit', value='Apply',ng-click='vm.multipleDelete()')
              .grid-10
                .pagination
                  dir-pagination-controls(boundary-links='true')
