.main-panel
  form(ng-submit='vm.createPromo(vm.promo)', name='userForm')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span#nav-icon.fa.fa-bars
          // dynamic to depende sa icon ng module
          span#icon-title.fa.fa-tags
          // end
          ol.breadcrumb
            li
              a(href='/promo') Promo
            li.active add Promo
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/promo') Cancel
          input.btn.btn-orange(type='submit', value='Save Promo')
      // Page loader
      .page-loader
      // end
    .main-content.inner-padding
      .row
        .grid-3.grid-12-xs
          h3 General Information
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Coupon Code
                input._100(ng-model='vm.promo.code',type='text', required='')
              li
                label Description
                textarea._100(type='text' ng-model='vm.promo.description', id='', cols='30', rows='10')
              li
                table
                  thead
                    tr

                      th._05 Start Date
                      th._05 End Date
                  tbody
                    tr
                      td
                        input._50(type='text', ng-model='vm.promo.start_at',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="minutes" ,format='yyyy-MM-dd HH:mm')
                      td
                        input._50(type='text', ng-model='vm.promo.expired_at',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="minutes" ,format='yyyy-MM-dd HH:mm')
              li
                label Promo Type
                .select-wrap._50
                  select._100(ng-model='vm.promo.promo_type_id',ng-options='p.id as p.name for p in vm.promotypes', required='', autofocus='', ng-change='vm.promoOptions()')
              li
                div(ng-if='vm.promo.promo_type_id == 1')
                  div(ng-init='vm.getCategories()')
                  ui-select(multiple='', ng-model='vm.promoitems', theme='selectize', tagging='', ng-disabled='disabled')
                    ui-select-match(placeholder='Select categories...') {{$item.name}}
                    ui-select-choices(repeat='c in vm.categories | filter:$select.search') {{c.name}}

                div(ng-if='vm.promo.promo_type_id == 2')
                  div(ng-init='vm.getProducts()')
                  ui-select(multiple='', ng-model='vm.promoitems', theme='selectize', tagging='', ng-disabled='disabled')
                    ui-select-match(placeholder='Select products...') {{$item.name}} - {{$item.sku}}
                    ui-select-choices(repeat='p in vm.products | filter:$select.search') {{p.name}} - {{p.sku}}

        hr.border-break
      .row
        .grid-3.grid-12-xs
          h3 Usage Limits
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li(ng-init='vm.getAmountType()')
                label Amount Type
                .radio-inline(data-ng-repeat='type in vm.amounttypes')
                  label
                    input(type='radio', ng-model='vm.promo.amount_type_id', ng-value='type.id', ng-change='vm.change_amount_type()')
                    |                             {{type.name}}
             
              li
                label Amount 
                input._100(ng-model='vm.promo.value',type='text',required)

              li
                label Uses per Coupon
                input._100(ng-model='vm.promo.uses_per_coupon',type='text')
              li
                label Uses per Customer
                input._100(ng-model='vm.promo.uses_per_customer',type='text')
              li(ng-init='vm.getProductType()')
