.modal-header
  h2#modal-title.modal-title Select Products
#modal-body.modal-body
  .grid-12
    .row
      .border-wrap
        form
          input._mb20._100(type='text',ng-model='search', placeholder='Find products..', autofocus='')
          .product-scroll
            .table-responsive
              table.table
                thead
                  tr
                    th(width='5%')
                    th(width='20%') Name
                tbody
                  tr(dir-paginate='(key, category) in vm.modalCategory.categories |filter : search | itemsPerPage: 10 ',current-page='vm.currentPage')

                    td(width='5%')
                      input(type='checkbox', ng-model='category.Selected')
                    td(width='20%') {{category.name}}
  .row
    .grid-10
      .pagination
            dir-pagination-controls(boundary-links='true')
.modal-footer
  a.btn.btn-white._mr5.popup-modal-dismiss(ng-click='vm.cancel()') Cancel
  input.btn.btn-orange(type='submit',ng-click='vm.addCategoryToPromo()', value='Add to promo')
