ui-view(ng-init='vm.showPromo()')
.main-panel
  form(ng-submit='vm.updatePromo(vm.promo)', name='userForm')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span#nav-icon.fa.fa-bars
          // dynamic to depende sa icon ng module
          span#icon-title.fa.fa-tags
          // end
          ol.breadcrumb
            li
              a(href='/promo') Promo
            li.active {{vm.promo.code}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(ui-sref='promo.edit({id: vm.promo.id})') Edit
          a.btn.btn-white._mr15(href='/promo') Back
      // Page loader
      .page-loader
      // end
    .main-content.inner-padding
      .alert.alert-success
        p
          | Promo has been saved
      .row
        .grid-3.grid-12-xs
          h3 General Information
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Coupon Code
                | {{vm.promo.code}}
              li
                label Description
                | {{vm.promo.description}}
              li
                label Start Date
                | {{vm.promo.start_at}}

              li
                label End Date
                | {{vm.promo.expired_at}}
              li(ng-init='vm.getProductType()')
                label Promo Type
                | {{vm.promo.promo_type.name}}

              li
                div(ng-if='vm.promo.promo_type_id == 1')
                  label Categories
                  div(ng-repeat="p in vm.promoitems")
                    | {{p.name}}
                div(ng-if='vm.promo.promo_type_id == 2')
                  label Products
                  div(ng-repeat="p in vm.promoitems")
                    | {{p.name}} - {{p.sku}}
        hr.border-break
      .row
        .grid-3.grid-12-xs
          h3 Usage Limits
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Amount Type
                | {{vm.promo.amount_type.name}}
              li
                label Discount
                | {{vm.promo.value}}
              li
                label Uses per Coupon
                | {{vm.promo.uses_per_coupon}}
              li
                label Uses per Customer
                | {{vm.promo.uses_per_customer}}
                hr.border-break
