.main-panel
  form(ng-submit='vm.updateBanner()', name='edit_banner')
    .header(ng-init='vm.showBanner()')
      .row
        alert.alert-error(ng-show="vm.error",ng-repeat='(key, error) in vm.error')
          p(ng-repeat='value in error')
            | {{value}}
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/banner') Banner
            li.active {{vm.banner.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/banner') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li
              label Name*
              input._30(type='text', ng-model='vm.banner.name', required='', ng-change='vm.set_url(vm.category.name)')
            li
              label Normal Image
              input(type='file', ngf-select='', ng-model='vm.banner.normal_photo', name='vm.banner.normal_photo', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB")
            li
              img(ngf-src="vm.banner.normal_photo.url || vm.banner.normal_photo")
            li
              label Retina Image
              input(type='file', ngf-select='', ng-model='vm.banner.retina_photo', name='vm.banner.retina_photo', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB")
            li
              img(ngf-src="vm.banner.retina_photo.url || vm.banner.retina_photo")
