.main-panel
  form(ng-submit='vm.createBanner(banner)',name='new_banner')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/banner') Banners
            li.active  add banner
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/banner') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li
              label Name*
              input._30(type='text', ng-model='banner.name', required)
            li
              label Normal Image*
              input(type='file', ngf-select='', ng-model='banner.normal_photo', name='file', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="20MB", ngf-model-invalid='errorFile')
            li
              .alert.alert-error(ng-show='new_category.file.$error.maxSize') File too large {{errorFile.size / 1000000|number:1}}MB : max is 20M
              img(ngf-src="banner.normal_photo || '/img/product-default.png' ")
            li
              label Retina Image
              input(type='file', ngf-select='', ng-model='banner.retina_photo', name='file', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="20MB", ngf-model-invalid='errorFile')
            li
              .alert.alert-error(ng-show='new_category.file.$error.maxSize') File too large {{errorFile.size / 1000000|number:1}}MB : max is 20M
              img(ngf-src="banner.retina_photo || '/img/product-default.png' ")
