.main-panel
  form
    .header(ng-init='vm.showBanner()')
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/banner') Banner
            li.active {{vm.banner.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(href='/banner/{{vm.banner.id}}/edit') Edit
    .main-content.inner-padding
      .alert.alert-success
        p
          | Banner has been saved
      .border-wrap
        ul
          li
            label
              strong Name
            p {{vm.banner.name}}
          li
            label
              strong Normal Image
            img(ngf-src="vm.banner.normal_photo.url || vm.banner.normal_photo")
          li
            label
              strong Retina Image
            img(ngf-src="vm.banner.retina_photo.url || vm.banner.retina_photo")
