<div class="side-panel">
  <div class="brand">
    <img src="img/logo.png" alt="">
  </div>
  <div class="icon-option">
    <ul>
      <li><a href="#icon" class="active"><img src="img/icon1.jpg" alt=""></a> <a href="#notif"><span class="notification">5</span></a></li>
      <li><a href="#"><img src="img/icon2.jpg" alt=""></a> <a href="#notif"><span class="notification">10</span></a></li>
    </ul>
  </div>
  <div class="nav-column">
    <div class="menu-title">
      <h2>e-commerce</h2>
    </div>
    <nav>
      <ul class="main-nav">
        <li><a href="#">orders</a> <a href="#"><span class="notification">2</span></a></li>
        <li><a href="#" class="active">products</a> <a href="#"><span class="notification">1</span></a>
          <ul>
            <li><a href="#">list 1</a></li>
            <li><a href="#">list 2</a></li>
            <li><a href="#">list 3</a></li>
          </ul>
        </li>
        <li><a href="#">customers</a></li>
        <li><a href="#">reports</a> <a href="#"><span class="notification">2</span></a></li>
        <li><a href="#">discounts</a></li>
        <li><a href="#">settings</a>
          <ul>
            <li><a href="#">option 1</a></li>
            <li><a href="#">option 2</a></li>
            <li><a href="#">option 3</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
