.modal-header
  p.text-right
    a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
      i.fa.fa-close
  h2#modal-title.modal-title The account has been activated!
.modal-footer
  input.btn.btn-white(type='submit',value='Close', ng-click='vm.cancel()')
