.modal-header
  p.text-right
    a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
      i.fa.fa-close
  h2#modal-title.modal-title {{vm.title}}
#modal-body.modal-body
  .border-wrap
    ul
      li
        .radio-inline
          label
            input(type='radio',ng-model='vm.allExport', ng-value='true', ng-checked='true')
            | All {{vm.module}}
      li
        .radio-inline
          label
            input(type='radio',ng-model='vm.allExport', ng-value='true',ng-disabled='true')
            | Current page
       li
        .radio-inline
          label
            input(type='radio',ng-model='vm.allExport', ng-value='true',ng-disabled='true')
            | Selected {{vm.module}}
.modal-footer
  input.btn.btn-white(type='submit',value='Close', ng-click='vm.cancel()')
  //- input.btn.btn-orange(type='submit', value='Export {{vm.module}}', ng-click="vm.getExportData()")
  input.btn.btn-orange(type='submit', value='Export {{vm.module}}', ng-init=" vm.getExportData()",ng-csv="vm.ExportData.data", csv-header="vm.ExportData.headers",decimal-separator=".", filename="{{vm.module}}.{{vm.date}}.csv", field-separator=",")