<div class="header">
  <div class="header-title">
    <span id="nav-icon" class="fa fa-bars"></span>
    <!-- dynamic to depende sa icon ng module -->
    <span id="icon-title" class="fa {{vm.page_icon}}"></span> <h1>{{vm.page_title}}</h1>
    <!-- end -->
  </div>
  <div class="head-notification">
    <span class="notification">3</span>
    <span id="dropdown-notif" class="fa fa-bell"></span>
    <div class="dropdown-notification">
      <p>Notifications</p>
      <ul>
        <li><a href="#">2 new order notification</a></li>
        <li><a href="#">1 refund notification</a></li>
        <li><a href="#">1 unfulfilled payment</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
