.modal-header
  p.text-right
    a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
      i.fa.fa-close
  h2#modal-title.modal-title {{vm.title}}
#modal-body.modal-body
  .border-wrap
    p
      | Your last {{vm.title}} import finished on 
      strong "Date here".
      |               "TOTAL" {{vm.title}} were imported,
      |               "TOTAL" {{vm.title}}  failed to import, and
      |               "TOTAL" {{vm.title}}  were skipped.
  .box.notice.modal-notice
    ul
      li
          input(type='file', ngf-select='', ng-model='vm.tmpFile', name='vm.new_product.image', ngf-pattern="'.csv'", ngf-accept="'.csv'",ngf-max-size="30MB")
      li
        p
          | Download a 
          a(href='', download='product_template.csv') sample CSV template
          |  to see an example of the format required.

      li
        .radio-inline
          label
            input(type='checkbox', ng-model='vm.overwrite')
            | Overwrite existing products that have the same Id?
      li
        .alert.alert-success(ng-show='vm.data.results[0].total_save > 0')
          | {{vm.data.results[0].total_save}} row/s had been imported! 
      li
        .alert.alert-error(ng-show='vm.data.errors.length > 0')
          | {{vm.data.results[0].total_errors}} row/s failed to be imported!
          .product-scroll(style='height: 200px')
            .table-responsive
              label(ng-repeat='(key, error) in vm.data.errors') Row {{error.row}}
                p(ng-if='!(error.message | isArray)') {{error.message}}
                div(ng-if='error.message | isArray')
                  p(ng-repeat='message in error.message') {{message}}
.modal-footer
  input.btn.btn-white(type='submit',value='Cancel', ng-click='vm.cancel()')
  input.btn.btn-orange(type='submit',ng-disabled='!vm.tmpFile', value='Upload file', ng-click="vm.import(vm.tmpFile)")