.header
  .row
    .grid-8.grid-7-sm.grid-6-xs
      span(class="fa fa-bars" id="nav-icon")
      span(id="icon-title" class="fa {{ navbar.icon || 'fa-file-o' }}")
      ol.breadcrumb
        li {{ navbar.page_title || 'untitled' }}

    .grid-4.grid-5-sm.grid-6-xs.text-right
      a.popup-modal.btn.btn-orange(href='#create-form') Primary Action
  div#loading-bar-container