ul.pagination(ng-if='1 < pages.length || !autoHide')
  li(ng-if='boundaryLinks',ng-class='{ disabled : pagination.current == 1 }')
    a(href='', ng-click='setCurrent(1)',disabled='true') «
  li.ng-scope(ng-if='directionLinks', ng-class='{ disabled : pagination.current == 1 }')
    a.ng-binding(href='', ng-click='setCurrent(pagination.current - 1)') ‹
  li(ng-repeat='pageNumber in pages track by $index')
    a(href='', ng-click='setCurrent(pageNumber)',ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }") {{ pageNumber }}
  li.ng-scope(ng-if='directionLinks', ng-class='{ disabled : pagination.current == pagination.last }')
    a.ng-binding(href='', ng-click='setCurrent(pagination.current + 1)') ›
  li(ng-if='boundaryLinks', ng-class='{ disabled : pagination.current == pagination.last }')
    a(href='', ng-click='setCurrent(pagination.last)') »
