.side-panel
      .brand
        img(src='/img/logo.png', alt='')
      .icon-option
        ul
          li
            a(href='#icon')
              img(src='/img/icon1.jpg', alt='')
            a(href='#notif')
              span.notification 5
          li
            a.active(href='#')
              img(src='/img/icon2.jpg', alt='')
            a(href='#notif')
              span.notification 9+
      .nav-column
        .menu-title
          h2
            a(href='/'){{sidebar.auth.getStoreName()}}
        nav
          ul.main-nav
            li(ng-repeat='result in sidebar.nav' slide-bar)
              a(ui-sref='{{ result.link }}' ui-sref-active='active') {{ result.text }}
                span(class="fa fa-caret-down" ng-if='result.parent.length > 0')
                ul
                  li(ng-repeat='sub in result.parent')
                    a(ui-sref='{{ sub.link }}' ui-sref-active='active') {{ sub.text }}

      .user-settings(ng-click='sidebar.toggleUserDropDown()')
        a#dropdown(href='#')
          | {{ sidebar.current_user || ' ' }}
          span.fa.fa-caret-down
        .dropdown(ng-class='{"open": sidebar.openUserDropDown}')
          ul
            li
              a(href='#')
                span(class="fa fa-user fa-fw")
                | user profile
            li
              a(href='#', ng-click='sidebar.logout()')
                span(class="fa {{sidebar.logout_icon}} fa-fw")
                | logout
