home-sidebar
div(ui-view='')
	.main-panel
		.header
			.row
				.grid-8.grid-7-sm.grid-6-xs
					span(class="fa fa-bars" id="nav-icon")
					span(id="icon-title" class="fa fa-tag")
					ol.breadcrumb
						li Reports
				.grid-4.grid-5-sm.grid-6-xs.text-right
					a.btn.btn-white._mr5(title='Export reports', ng-click='csv.generate()', ng-href='{{ csv.link() }}', download='reports.csv') Export

		.main-content.listing-padding
			.row
				.tab-container
					.button-group.filters-button-group
						button.button Order
						button.button User
						button.button Product
		
			.border-wrap
				.row
					.grid-2.grid-3-sm._mb25
						label.select
						select
							option Sales and Invoiced
							option Sales by product
							option Revenue per product
					.grid-7.grid-9-sm
						.search
							input(type='text', ng-model='search',placeholder='Start typing to search for orders..')
							i.fa.fa-search
					.grid-2.grid-5-sm
						.daterange
							input#date(type='text', placeholder='Select Dates')
					//- #pickerRange(date-range='',type='text', start='vm.dateRange.startDate', end='vm.dateRange.endDate', date-change='changeDate',timezone='UTC')
					.grid-1.grid-3-sm.text-right
						input.btn.btn-orange._100(type='submit', value='Apply')
			.border-wrap
				.row
					.grid-6.grid-6-sm.grid-6-xs
						.border-wrap
							h2.dashboard-title Sales Graph
							div(ng-init='vm.SalesGraph()')
								canvas#line.chart.chart-line(chart-data='vm.data', chart-labels='vm.labels', chart-series='vm.series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')
					.grid-6.grid-6-sm.grid-6-xs
						.border-wrap
							h2.dashboard-title Invoiced Graph
							div(ng-init='vm.InvoiceGraph()')
								canvas#line.chart.chart-line(chart-data='vm.InvoiceData', chart-labels='vm.labels', chart-series='vm.InvoiceSeries', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')
				.border-wrap(ng-init='vm.getOrders()')
					.table-responsive
						table.table(export-csv="csv",separator=",")
							thead
								tr
									th._15(ng-click="vm.sortBy('id')") Date
										span.fa(ng-show="vm.propertyName === 'id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('created_at')") Orders
										span.fa(ng-show="vm.propertyName === 'created_at'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('customer.first_name')") Sales orders
										span.fa(ng-show="vm.propertyName === 'customer.first_name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('order_history.order_status.id')") Invoiced
										span.fa(ng-show="vm.propertyName === 'order_history.order_status.id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('grand_total |num')") Cancelled
										span.fa(ng-show="vm.propertyName === 'grand_total |num'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
							tbody
								tr(ng-repeat="(key, order) in vm.orders | groupBy: vm.dateFormat('created_at','yyyy-MMMM-dd')",ng-init='vm.labels.push(key)')
									td{{key}}
									td(ng-init='vm.totalOrders = vm.totalOrders + order.length'){{order.length}}
									td(ng-init='vm.tmp_data.push(vm.getTotalSales(order)); vm.totalSales = vm.totalSales + vm.getTotalSales(order)'){{vm.getTotalSales(order)| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
									td(ng-init='vm.tmp_dataInvoiced.push(vm.getTotalInvoice(order)); vm.totalInvoiced = vm.totalInvoiced + vm.getTotalInvoice(order)'){{vm.getTotalInvoice(order)| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
									td(ng-init='vm.tmp_dataCancelled.push(vm.getCancelledOrders(order)); vm.totalCancelled = vm.totalCancelled + vm.getCancelledOrders(order)'){{vm.getCancelledOrders(order)| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
							tfoot
								tr
									th._15
									th {{vm.totalOrders}}
									th {{vm.totalSales | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2}}
									th {{vm.totalInvoiced | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2}}
									th {{vm.totalCancelled | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2}}

			.border-wrap
				.row
					.grid-6.grid-6-sm.grid-6-xs
						.border-wrap
							h2.dashboard-title Sales Graph
							div(ng-init='vm.SalesGraph()')
								canvas#line.chart.chart-line(chart-data='vm.data', chart-labels='vm.labels', chart-series='vm.series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')
					.grid-6.grid-6-sm.grid-6-xs
						.border-wrap
							h2.dashboard-title Invoiced Graph
							div(ng-init='vm.InvoiceGraph()')
								canvas#line.chart.chart-line(chart-data='vm.InvoiceData', chart-labels='vm.labels', chart-series='vm.InvoiceSeries', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')
				.border-wrap
					.table-responsive
						table.table(export-csv="csv",separator=",")
							thead
								tr
									th._15(ng-click="vm.sortBy('id')") Period
										span.fa(ng-show="vm.propertyName === 'id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('created_at')") Product name
										span.fa(ng-show="vm.propertyName === 'created_at'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('customer.first_name')") Price
										span.fa(ng-show="vm.propertyName === 'customer.first_name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
									th(ng-click="vm.sortBy('order_history.order_status.id')") Quantity ordered
										span.fa(ng-show="vm.propertyName === 'order_history.order_status.id'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
							tbody
								tr(ng-repeat="(key, order) in vm.orders | groupBy: vm.dateFormat('created_at','yyyy-MMMM-dd')")
									td(ng-init='vm.tmpOrderProducts(order);tmpQuantity2 = []; prices = []'){{key}}
									//- td._50(ng-init='vm.toArray(order)')
									//- 	table(ng-repeat="(key2,value2) in order")
									//- 		tr(ng-repeat="(key3, value3) in value2.order_product | groupBy: 'product.name'")
									//- 			td{{key3}} {{value3.length}}
									td._50(ng-init='current_tmp = vm.tmp_order_products')
										table(ng-repeat="(key2,value2) in current_tmp | groupBy: 'product.name'",ng-init='tmpQuantity = []')
											tr(ng-repeat='(key3,value3) in value2',ng-init='(tmpQuantity.push(value3.quantity))')
												td(ng-if='$last', ng-init='prices.push(value3.product.price);tmpQuantity2.push(tmpQuantity|sum)'){{value3.product.name}}
												
									td
										table
											tr(ng-repeat='price in prices track by $index')
												td {{price| currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2}}
									td 
										table
											tr(ng-repeat='quantity in tmpQuantity2 track by $index')
												td {{quantity}}