ui-view(ng-init='vm.edit()')
.main-panel
  form(ng-submit='vm.update(vm.user)', name='userForm')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li
              a(ui-sref="users()") users
            li.active edit user
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(ui-sref="users()") Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .alert.alert-error(ng-show='vm.errors')
        h3 {{ vm.errors.length }} error(s) in user:
        div(ng-repeat='(index, error) in vm.errors')
          div(ng-repeat = 'value in error')
            p
              | {{ value }}
      .row
        .grid-3.grid-12-xs
          h3 User Information
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label Role
                .select-wrap._15
                  select._100(ng-model="vm.user.role_id", ng-options='role.id as role.name for role in vm.roles', required='', autofocus='')
              li
                label First Name
                input._100(type='text',ng-model='vm.user.first_name', required='', )
              li
                label Last Name
                input._100(type='text',ng-model='vm.user.last_name', required='', )
              li
                label Email
                input._100(type='text',ng-model='vm.user.email', required='', )
              li
                label Password *
                input._100(type='password', ng-model='vm.user.password')
              li
                label Password Confirmation *
                input._100(type='password', ng-model='vm.user.password_confirmation')
        hr.border-break
      .row
      .grid-3.grid-12-xs
        h3(ng-if='vm.user.deactivate == null')
          a.orange(href='#',ng-click='vm.deactivateAccount()') Deactivate Account
        h3(ng-if='vm.user.deactivate == true')
          a.orange(href='#',ng-click='vm.activateAccount()') Activate Account
