home-sidebar
div(ui-view='')
  .main-panel(ng-init='vm.index()')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li Users
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='',ng-click="vm.openImportModal()") Import
          a.btn.btn-white._mr5(href='',ng-click="vm.openExportModal()") Export
          input.btn.btn-orange(ui-sref='users.new()', type='submit', value='Add New User')
    .main-content.listing-padding
      .empty-state.text-center(ng-if='vm.users.length <= 0')
        h1 Add your first customer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        figure
          img(src='img/user-icon.png', alt='')
        a.btn.btn-orange(ui-sref='customers.new()') Add new customer
      .border-wrap(ng-if='vm.users.length >= 1')
        .row
          .grid-12._mb25
            .search
              input(type='text', ng-model='search', placeholder='Search for user')
              button(type='submit')
                span.fa.fa-search
        .table-responsive
          table.table
            thead
              tr
                th._05
                  //- input#select-all(type='checkbox' ng-model='' ng-click='')
                th(ng-click="vm.sortBy('first_name')") full name
                  span.fa(ng-show="vm.propertyName === 'first_name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('email')") email address
                  span.fa(ng-show="vm.propertyName === 'email'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('role.name')") Role
                  span.fa(ng-show="vm.propertyName === 'role.name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('deactivate')") Status
                  span.fa(ng-show="vm.propertyName === 'deactivate'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
            tbody
              tr(dir-paginate='(key, user) in vm.users | orderBy:vm.propertyName: vm.reverse| filter : search | itemsPerPage: 10',current-page='vm.currentPage')
                td
                  //- input(type='checkbox' ng-model='' ng-click='')
                td

                  a.orange(ui-sref='users.edit({id: user.id})') {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}
                td {{ user.email }}
                td {{ user.role.name }}
                td {{user.deactivate? 'Deactivated' : 'Active'}}

      .row
        .grid-12.grid-7-sm
          .pagination
            dir-pagination-controls(boundary-links='true')
