ui-view(ng-init='vm.show()')
.main-panel
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li
              a(ui-sref="users()") users
            li.active {{ vm.user.first_name }} {{ vm.user.last_name }}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(ui-sref='users.edit({id: vm.user.id})') Edit
    .main-content.inner-padding
      .alert.alert-success
        p
          | User has been saved
      .row
        .grid-3.grid-12-xs
          h3 User Information
        .grid-9.grid-12-xs
          .border-wrap
            ul
              li
                label
                  strong Role
                p
                  | {{ vm.user.role.name }}
              li
                label
                  strong First Name
                p
                  | {{ vm.user.first_name }}
              li
                label
                  strong Last Name
                p
                  | {{ vm.user.last_name }}
              li
                label
                  strong Email Address
                p
                  | {{ vm.user.email }}
              li
                label
                  strong Password
                p
                  | **********************
