body.bg-gray
	.container
		section.login-container
			.form-login
				a(href="#" class="logo-jump")
				toaster-container(toaster-options="{'time-out': 3000, 'position-class': 'alert-error','close-button':true}")
				form(name="loginForm" novalidate)
					label Email Address
					input(
					type="text"
					ng-model="vm.user.email"
					required
					)
					span(
						style="color:red" 
						ng-show="loginForm.email.$dirty && loginForm.email.$invalid"
					)
						span Oops! Your email is invalid. 
							after
								div(ng-show="loginForm.email.$error.email")

					label Password
					input(
					type="password"
					ng-model="vm.user.password"
					required
					)
					input(
						type="submit" 
						value="Next" 
						ng-click="vm.login()"
					)
					p(ng-show="vm.loginError") {{ vm.loginError }}
					.float-right
						a(href="/forgot") Forgot Password?