.main-panel
  form(ng-submit='vm.updateCategory()', name='edit_category')
    .header(ng-init='vm.getCategory()')
      .row
        alert.alert-error(ng-show="vm.error",ng-repeat='(key, error) in vm.error')
          p(ng-repeat='value in error')
            | {{value}}
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/category/product') Prduct Categories
            li.active {{vm.category.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/category/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li
              label Category Name*
              input._30(type='text', ng-model='vm.category.name', required='', ng-change='vm.set_url(vm.category.name)')
            li
              label URL Key
              input._30(type='text', ng-model='vm.url')
            li
              label Description*
              textarea._100(rows='18', ng-model='vm.category.description')
            li
              label Image
              input(type='file', ngf-select='', ng-model='vm.category.image', name='vm.category.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB")
            li
              img(ngf-src="vm.category.image.url || vm.category.image")
