.main-panel
  form(ng-submit='vm.createCategory(category)',name='new_category')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/category/product') Prduct categories
            li.active  add category
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/category/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li
              label Category Name*
              input._30(type='text', ng-model='category.name', ng-change='vm.set_url(category.name)')
            li
              label URL Key
              input._30(type='text', ng-model='vm.url')
            li
              label Description*
              textarea._100(rows='18',ng-model='category.description',required)
            li
              label Image
              input(type='file', ngf-select='', ng-model='category.image', name='file', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="20MB", ngf-model-invalid='errorFile')
            li
              .alert.alert-error(ng-show='new_category.file.$error.maxSize') File too large {{errorFile.size / 1000000|number:1}}MB : max is 20M
              img(ngf-src="category.image || '/img/product-default.png'")
