.main-panel
  form
    .header(ng-init='vm.getCategory()')
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/category/product') Product categories
            li.active {{vm.category.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(href='/category/product/{{vm.category.id}}/edit') Edit
    .main-content.inner-padding
      .alert.alert-success
        p
          | Category has been saved
      .border-wrap
        ul(ng-init='vm.getCategory()')
          li
            label
              strong Category Name
            p {{vm.category.name}}
          li
            label
              strong URL Key
            p {{vm.category.url}}
          li
            label
              strong Description
            p {{vm.category.description}}
          li
            img(ngf-src="vm.category.image.url || vm.category.image")
