.main-panel
  form(ng-submit='vm.updateProduct()', name='edit_product')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/product') Products
            li.active Edit product
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding(ng-init='vm.getProduct()')
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .grid-8.grid-12-sm.grid-12-xs
          .border-wrap
            ul
              li
                label SKU*
                input._100(type='text', ng-model='vm.product.sku', required='', autofocus='')
          .border-wrap
            ul
              li
                label Product Name*
                input._100(type='text', ng-model='vm.product.name', required='', ng-change='vm.set_url(vm.product.name, vm.product.sku)')
              li
                label Product Description*
                textarea._100(type='text', ng-model='vm.product.description', required='', rows='18')
              li
                label URL Key*
                input._100(type='text', ng-model='vm.url')
          .border-wrap
            .two-col
              ul
                li
                  label Price* {{(vm.currency.symbol_native? vm.currency.symbol_native : '₱')}}
                  input._100(type='number', ng-model='vm.product.price', required='', step='0.01',min='0')
                li
                  label Quantity*
                  input._100(type='number',ng-model='vm.product.quantity' min='0', required)
          .border-wrap
            .two-col
              ul
                li
                  label Weight
                  input._100(type='text', ng-model='vm.product.weight')
                li
                  label Unit
                  input._100(type='text',ng-model='vm.product.unit')
          .border-wrap
            ul
              li
                label Discounted Price {{(vm.currency.symbol_native? vm.currency.symbol_native : '₱')}}
                input._100(type='number',ng-model='vm.product.discounted_price', step='0.01',min='0')
              li
                label Start Date
                input._100(type='text', ng-model='vm.product.discount_date_start',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="date" ,format='yyyy-MM-dd')
              li
                label End Date
                input._100(type='text', ng-model='vm.product.discount_date_end',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="date" ,format='yyyy-MM-dd')

          .border-wrap
            ul
              li
                .row
                  .grid-6
                    label Gallery
                  .grid-6.text-right
                    a.orange.float-right(href='', ngf-select='vm.selectFiles($files)' multiple='', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="2MB",) Upload image
                .row
                  .grid-12
                    .gallery
                      img(ngf-src='f.image.url || f', alt='',ng-repeat='f in vm.product.product_gallery')
        .grid-4.grid-12-sm.grid-12-xs
          .border-wrap
            ul
              li
                label Availability*
                .radio-inline
                  label
                    input(type='radio',ng-model='vm.product.in_stock', ng-value='true')
                    |                                             Available
                .radio-inline
                  label
                    input(type='radio', ng-model='vm.product.in_stock', ng-value='false')
                    |                                             Unavailable
          .border-wrap
            ul
              li(ng-init='vm.getProductCategory()')
                label Product Category

                ui-select(multiple='', ng-model='vm.productcategories ', theme='selectize',on-select='vm.subCategoriesOption(vm.productcategories)', tagging='', ng-disabled='disabled')
                  ui-select-match(placeholder='Select categories...') {{$item.name}}
                  ui-select-choices(repeat='c in vm.categories | filter:$select.search') {{c.name}}

              li(ng-init='vm.getProductSubCategory()')
                label Product Sub-Category
                ui-select(multiple='', ng-model='vm.productsubcategories', theme='selectize', tagging='', ng-disabled='disabled')
                  ui-select-match(placeholder='Select categories...') {{$item.name}}
                  ui-select-choices(repeat='s in vm.subcategoryoptions | filter:$select.search') {{s.name}}

          .border-wrap
            ul
              //- li(custom-file-input='', ng-model='vm.product.image')
              //-   label Featured Image
              //-   input._100(type='file', ng-model='vm.product.image')
              li
                label Featured Image
                input(type='file', ngf-select='', ng-model='vm.product.image', name='vm.product.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB")
              li
                img._100._mb20(ngf-src="vm.product.image.url || vm.product.image")
              li
                label Tags
                tags-input.bootstrap(ng-model='vm.product_tag', placeholder='Add tags', replace-spaces-with-dashes='false')
                  auto-complete(source='vm.tags($query)', min-length='0', debounce-delay='0', max-results='10')
