home-sidebar
div(ui-view='')
  .main-panel
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li Products
        .grid-4.grid-5-sm.grid-6-xs.text-right
            a.btn.btn-white._mr5(href='',ng-click="vm.openImportModal()") Import
            a.btn.btn-white._mr5(href='',ng-click="vm.openExportModal()") Export
            input.btn.btn-orange(ui-sref='product.new', type='submit', value='Add New Product')

    .main-content.listing-padding
      .border-wrap
        .row
          .grid-2.grid-3-sm.grid-4-xs._mb25
            label.select
              select
                option Filter Products
                option Category
                option Availability
                option SKU
          .grid-10.grid-9-sm.grid-8-xs
            .search
              input(type='text', ng-model='search', placeholder='Start typing to search for orders..')
              button(type='submit')
                span.fa.fa-search
        .table-responsive
          table.table(ng-init='vm.getProducts()')
            thead
              tr
                th._05
                  input#select-all(type='checkbox' ng-model='vm.selectedAll' ng-click='vm.selectAll()')
                th._10(ng-click="vm.sortBy('sku')") SKU
                  span.fa(ng-show="vm.propertyName === 'sku'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th._10 Image
                th(ng-click="vm.sortBy('name')") Name
                  span.fa(ng-show="vm.propertyName === 'name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('price')") Price
                  span.fa(ng-show="vm.propertyName === 'price'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(ng-click="vm.sortBy('in_stock')") Availability
                  span.fa(ng-show="vm.propertyName === 'in_stock'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                th(colspan='2', width='8%') Actions
            tbody
              tr(dir-paginate='(key, product) in vm.products | filter : search|orderBy:vm.propertyName: vm.reverse | itemsPerPage: 10',current-page='vm.currentPage')
                td
                  input(type='checkbox' ng-model='product.Selected' ng-click='vm.checkIfAllSelected()')
                td
                  a.orange(ui-sref='product.edit({id: product.id})') {{ product.sku }}
                td
                  img(src='{{product.image.url || "../img/product-default.png"}}', width='45', height='45', alt='')
                td {{ product.name }}
                td {{ product.price |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2 }}
                td {{product.in_stock? 'Available' : 'Unavailable'}}
                //- td
                //-   a(ui-sref='product.show({id:product.id})')
                //-     span.fa.fa-eye
                td
                  a(ui-sref='product.edit({id:product.id})')
                    span.fa.fa-pencil
                td
                  a(ng-click='vm.deleteProduct(product)')
                    span.fa.fa-trash
      .row
        .grid-1.grid-3-sm
          label.select
            select(ng-model='vm.action'  ng-options='action.name as action.name for action in vm.actions')

        .grid-1.grid-2-sm
          input.btn.btn-orange(type='submit', value='Apply',ng-click='vm.log()')
        .grid-10.grid-7-sm
          .pagination
            dir-pagination-controls(boundary-links='true')
