.main-panel
  form(ng-submit='vm.newProduct(vm.new_product)',name='new_vm.new_product')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/product') Products
            li.active Add product
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Product')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .grid-8.grid-7-sm.grid-6-xs
          .border-wrap
            ul
              li
                label SKU*
                input._100(type='text', ng-model='vm.new_product.sku', required='')
          .border-wrap(ng-init='vm.getProductCategory()')
            ul
              li
                label Name*
                input._100(type='text', ng-model='vm.new_product.name', required='' ng-change='vm.set_url(vm.new_product.name,vm.new_product.sku)')
              li
                label Product Description*
                textarea._100(type='text', ng-model='vm.new_product.description', required='', rows='14')
              li
                label URL Key*
                input._100(type='text', ng-model='vm.url')
          .border-wrap
            ul.two-col
              li
                label Price* {{(vm.currency.symbol_native? vm.currency.symbol_native : '₱')}}
                input._100(type='number', ng-model='vm.new_product.price', required='',min='0', step='0.01',value='123')
              li
                label Quantity*
                input._100(type='number', ng-model='vm.new_product.quantity', min='0', required='')
             //- li
             //-    label In Stock
             //-    select(ng-model='vm.new_product.in_stock', ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]")
             //-    p
             //-      | Currently selected:
             //-      b {{ vm.new_product.in_stock }}
             //-      |  opposite: {{ !vm.new_product.in_stock }}
           .border-wrap
             ul.two-col
               li
                 label Weight
                 input._100(type='text', ng-model='vm.new_product.weight')
               li
                 label Unit
                 input._100(type='text', ng-model='vm.new_product.unit')

           .border-wrap
             ul
               li
                 label Discounted Price {{(vm.currency.symbol_native? vm.currency.symbol_native : '₱')}}
                 input._100(type='number',ng-model='vm.new_product.discounted_price', step='0.01',min='0')
               li
                 label Start Date
                 input._100(type='text', ng-model='vm.new_product.discount_date_start',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="date" ,format='yyyy-MM-dd')
               li
                 label End Date
                 input._100(type='text', ng-model='vm.new_product.discount_date_end',placeholder='YYYY-MM-DD', date-time,auto-close="true", view="date" ,min-view="date" ,format='yyyy-MM-dd')
          .border-wrap
            ul
              li
                .row
                  .grid-6
                    label Gallery
                  .grid-6.text-right
                    a.orange.float-right(href='', ngf-select='vm.selectFiles($files)' multiple='', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="20MB") Upload image
                .row
                  .grid-12
                    .gallery
                      img(ngf-src='f || "../img/product-default.png"', alt='',ng-repeat='f in vm.selectedFiles')
        .grid-4.grid-12-sm.grid-12-xs
          .border-wrap
            ul
              li
                label Availability*
                .radio-inline
                  label
                    input(type='radio',ng-model='vm.new_product.in_stock', ng-value='true', ng-checked='true')
                    |                                             Available
                .radio-inline
                  label
                    input(type='radio', ng-model='vm.new_product.in_stock', ng-value='false', ng-checked='false')
                    |                                             Unavailable
          .border-wrap
            ul
              li
                .row
                  .grid-6
                    label Product Category
                  .grid-6.text-right
                    a.popup-modal.orange(href='',ng-click='vm.openCategoryModal()') Add new category
                ui-select(multiple='', ng-model='vm.new_product.category_id', theme='selectize',on-select='vm.subCategoriesOption(vm.new_product.category_id)', tagging='', ng-disabled='disabled')
                  ui-select-match(placeholder='Select categories...') {{$item.name}}
                  ui-select-choices(repeat='c in vm.categories | filter:$select.search') {{c.name}}
              li(ng-init='vm.getProductSubCategory()')
                .row
                  .grid-6
                    label Product Sub-category
                  .grid-6.text-right
                    a.popup-modal.orange(href='',ng-click='vm.openSubcategoryModal()') Add new sub-category
                ui-select(multiple='', ng-model='vm.new_product.subcategory_id', theme='selectize', tagging='', ng-disabled='disabled')
                  ui-select-match(placeholder='Select categories...') {{$item.name}}
                  ui-select-choices(repeat='s in vm.subcategoryoptions | filter:$select.search') {{s.name}}

          .border-wrap
            ul
              li(ng-init='vm.new_product.image')
                label Featured Image
                input(type='file', ngf-select='', ng-model='vm.new_product.image', name='vm.new_product.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="2MB")
              li
                img._100._mb20(ngf-src="vm.new_product.image || '../img/product-default.png' ")
              li
                label Tags
                tags-input.bootstrap(ng-model='vm.new_product.tag', placeholder='Add tags', replace-spaces-with-dashes='false')
                  auto-complete(source='vm.tags($query)', min-length='0', debounce-delay='0', max-results='10')
