form(ng-submit='vm.createCategory(category)',name='new_category')
  .modal-header
    p.text-right
      a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
        i.fa.fa-close
    h2#modal-title.modal-title Create New Category
  #modal-body.modal-body
    .border-wrap
      ul
        li
          label Name*
          input._100(type='text',ng-model='category.name',required)
        li
          label Description*
          textarea._100(rows='18',ng-model='category.description',required)
        li(ng-init='vm.new_product.image')
          label Image
          input(type='file', ngf-select='', ng-model='category.image', name='category.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="2MB")
        li
          img._100._mb20(ngf-src="category.image || '../img/product-default.png' ")
  .modal-footer
    input.btn.btn-orange(type='submit', value='Save Category')
