.main-panel
  .header(ng-init='vm.getProduct()')
    .row
      .grid-8.grid-7-sm.grid-6-xs
        span(class="fa fa-bars" id="nav-icon")
        span(id="icon-title" class="fa fa-tag")
        ol.breadcrumb
          li
            a(href='/product') Products
          li.active {{vm.product.name}}
      .grid-4.grid-5-sm.grid-6-xs.text-right
        a.btn.btn-white._mr15(href='/product/{{vm.product.id}}/edit') Edit
  .main-content.inner-padding
    .alert.alert-success
      p
        | Product has been saved
    .row
      .grid-8.grid-12-sm.grid-12-xs
        .border-wrap
          ul
            li
              label
                strong SKU
              p {{vm.product.sku}}
        .border-wrap
          ul
            li
              label
                strong Name
              p {{vm.product.name}}
            li
              label
                strong Description
              p {{vm.product.description}}
            li
              label
                strong URl Key
              p {{vm.product.url}}
        .border-wrap
          .two-col
            ul
              li
                label
                  strong Price
                p {{vm.product.price | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
              li
                label
                  strong Quantity
                p {{vm.product.quantity}}
        .border-wrap
          .two-col
            ul
              li
                label
                  strong Weight
                p {{vm.product.weight}}
              li
                label
                  strong Unit
                p {{vm.product.unit}}
        .border-wrap
          .three-col
            ul
              li
                label
                  strong Discounted Price
                p {{ vm.product.discounted_price | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2 }}
              li
                label
                  strong Start Date
                p {{ vm.product.discount_date_start | date : 'MMM d, y' }}
              li
                label
                  strong End Date
                p {{ vm.product.discount_date_end | date : 'MMM d, y' }}

        .border-wrap
          ul
            li
              .row
                .grid-6
                  label Gallery
              .row
                .grid-12
                  .gallery
                    img(ngf-src='f.image.url', alt='',ng-repeat='f in vm.product.product_gallery')
      .grid-4.grid-12-sm.grid-12-xs
        .border-wrap
          ul
            li
              label Availability
              .radio-inline
                label
                  input(type='radio',ng-model='vm.product.in_stock', ng-value='true', disabled)
                  |                                             Available
              .radio-inline
                label
                  input(type='radio', ng-model='vm.product.in_stock', ng-value='false', disabled)
                  |                                             Unavailable
        .border-wrap
          ul
            li
              label
                strong Product Category
              div(ng-repeat='productcat in vm.productcategories')
                p
                  | {{productcat.name}}
            li
              label
                strong Product Sub-Category
              div(ng-repeat='subcategory in vm.productsubcategories')
                p {{subcategory.name}}
        .border-wrap
          ul
            li(custom-file-input='', ng-model='vm.product.image')
              label Featured Image
              img(ngf-src='vm.product.image.url')
            li
              label Tags

            li
              .tags
                ul(ng-repeat='t in vm.product.product_tag')
                  li
                    p
                      | {{t.tag}}
                      a(href='#')
