form(ng-submit='vm.createSubcategory(subcategory)',name='new_category')
  .modal-header
    p.text-right
      a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
        i.fa.fa-close
    h2#modal-title.modal-title Create New Sub-category
  #modal-body.modal-body
    .border-wrap
      ul
        li(ng-init='vm.getProductCategory()')
          label Product Category*
          .select-wrap._15
            select._100(ng-model='subcategory.category_id', ng-options='category.id as category.name for category in vm.categories', autofocus='', required)
        li
          label Name*
          input._100(type='text',ng-model='subcategory.name',required)
        li
          label Description*
          textarea._100(rows='18',ng-model='subcategory.description',required)
        li(ng-init='vm.new_product.image')
                label Image
                input(type='file', ngf-select='', ng-model='subcategory.image', name='subcategory.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="2MB")
              li
                img._100._mb20(ngf-src="subcategory.image || '../img/product-default.png' ")
  .modal-footer
    input.btn.btn-orange(type='submit', value='Save Subcategory')
