home-sidebar
ui-view
  .main-panel(ng-init='vm.getGeneralSetting()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.checkout_setting_form')
      .header
        .row(ng-init='vm.test()')
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active Checkout
          .grid-4.grid-5-sm.grid-6-xs.text-right
            input.btn.btn-orange(type='submit',ng-disabled='!vm.checkout_setting_form.modified',value='Save')
      .main-content.inner-padding
        .row
          .grid-3.grid-12-xs
            h3 Customer Accounts
            p._mx160
              | Choose if you want to prompt your customer to create an account when they check out.
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  .radio
                    label
                      input(type='radio', name='options', value='option1', checked='')
                      |                                             Accounts are disabled
                      p ( Customers will only be able to check out as guests )
                li
                  .radio
                    label
                      input(type='radio', name='options', value='option2')
                      |                                             Accounts are optional
                      p
                        | ( Customers will have the option to create an account at the end of the checkout process )
                li
                  .radio
                    label
                      input(type='radio', name='options', value='option2')
                      |                                             Accounts are required
                      p ( Customers will only be able to check out if they have a customer account )
          .clear
        hr.border-break
        .row
          .grid-3
            h3 Privacy and TOS Statements
            p._mx160 You can generate these policies to your website.
          .grid-9
            .border-wrap
              ul
                li
                  label Private Policy
                  textarea._100(name='', id='', cols='30', rows='10')
                li
                  label Terms of Service
                  textarea._100(name='', id='', cols='30', rows='10')
