home-sidebar
ui-view
  .main-panel(ng-init='vm.getGeneralSetting()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.general_setting_form')
      .header
        .row
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active General
          .grid-4.grid-5-sm.grid-6-xs.text-right
            input.btn.btn-orange(type='submit',ng-disabled='!vm.general_setting_form.modified',value='Save')
      .main-content.inner-padding
        .row
          .alert.alert-success(ng-if='vm.isSuccess')
            p
            | Your settings have been saved successfully
          .alert.alert-error(ng-show="vm.error")
            div(ng-repeat='(key, error) in vm.error')
              div(ng-repeat='value in error')
                p{{value}}
          .grid-3.grid-12-xs
            h3 Store Details
            p._mx160 Customers will use this information to contact you.
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  label Store Name
                  input._100(ng-model='vm.general_setting.store_name', type='text',required)
                li
                  label Store Logo
                  input(type='file', ngf-select='', ng-model='vm.general_setting.store_logo', name='vm.general_setting.store_logo', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB",ng-required='!vm.general_setting.store_logo')
                li
                  img(ngf-src="vm.general_setting.store_logo.url || vm.general_setting.store_logo", style="height:25%;width:25%;")
                li
                  label Account Email
                  input._100(ng-model='vm.general_setting.account_email', type='text')
          .clear
        hr.border-break
        .row
          .grid-3.grid-12-xs
            h3 Store Address
            p._mx160
              | This address will appear on your invoices. You can edit the address used to calculate shipping rates in your
              a(href='shipping-settings.html') shipping settings
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  label Legal name of business
                  input._100(ng-model='vm.general_setting.legal_name_of_business',type='text')
                li
                  label Phone
                  input._100(ng-model='vm.general_setting.phone',type='text',required)
                li
                  label Address
                  input._100(ng-model='vm.general_setting.street',type='text',required)
                li
                  label Apt, Suite, Etc. (Optional)
                  input._100(ng-model='vm.general_setting.apt_suite',type='text')
                li
                  ul.two-col
                    li
                      label City
                      input._100(type='text', ng-model='vm.general_setting.city',required)
                    li
                      label Postal / Zip code
                      input._100(type='text', ng-model='vm.general_setting.zip_code', min='0',required)
                li
                  label Country
                  input._100(ng-model='vm.general_setting.country',type='text',required)
          .clear
        hr.border-break
        .row
          .grid-3
            h3 Standards and Formats
            //- p._mx160
            //-   | Standards and formats are used to calculate product prices, shipping weights, order times, and more.
          .grid-9
            .border-wrap
              ul
                li
                  label Timezone
                  ui-select(ng-model='vm.timezone',  ng-disabled='false',theme='selectize', required)
                    | {{vm.general_setting.timezone = $select.selected.text;""}}
                    ui-select-match(allow-clear='true',placeholder='Select timezone...') {{$select.selected.text}}
                    ui-select-choices(repeat='timezone in vm.timezones | filter: $select.search')
                      span(ng-bind-html='timezone.text | highlight: $select.search')
                      div(ng-repeat='utc in timezone.utc')
                        small
                          {{utc}}

                li
                  label Unit System
                  ui-select(ng-model='vm.unit_sytem', ng-disabled='false',theme='selectize', required)
                    {{vm.general_setting.unit_system = $select.selected.key}}
                    ui-select-match(allow-clear='true',placeholder='Select unit system...')  {{$select.selected.key }}
                    ui-select-choices(repeat='data in vm.unit_systems | filter: $select.search')
                      span(ng-bind-html='data.key | highlight: $select.search')


                li
                  label Default weight unit
                  ui-select(ng-model='vm.weight_unit',  ng-disabled='!vm.unit_sytem',theme='selectize', required)
                    {{vm.general_setting.weight_unit = $select.selected.symbol}}
                    ui-select-match(allow-clear='true',placeholder='Select default weight unit...')  {{$select.selected.display }}
                    ui-select-choices(repeat='data in vm.unit_sytem.value | filter: $select.search')
                      span(ng-bind-html='data.display | highlight: $select.search')
                li
                  label Currency
                  ui-select(ng-model='vm.currency',  ng-disabled='false',theme='selectize', required)
                    | {{vm.general_setting.currency = $select.selected.code;""}}
                    ui-select-match(allow-clear='true',placeholder='Select currency...')  {{$select.selected.name }}
                    ui-select-choices(repeat='currency in vm.currencies | filter: $select.search')
                      small {{currency.name}} (
                      span(ng-bind-html='currency.code | highlight: $select.search')
                      small )
