home-sidebar
ui-view
  .main-panel(ng-init='vm.getGeneralSetting()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.notification_setting_form')
      .header
        .row(ng-init='vm.test()')
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active Notificaiton
          .grid-4.grid-5-sm.grid-6-xs.text-right
            input.btn.btn-orange(type='submit',ng-disabled='!vm.notification_setting_form.modified',value='Save')
      .main-content.inner-padding
        .row
          .grid-3.grid-12-xs
            h3 Email Templates
            p._mx160 These email are automatically sent out to either you or the customer.
            a.btn.btn-white(href='email-template.html', target='_blank') View Email Template
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  label Store Name
                  input._100(type='text', value='BAI Ecommerce')
                li
                  label Message
                  textarea._100(name='', id='', cols='30', rows='10')
          .clear
        hr.border-break
