home-sidebar
ui-view
  .main-panel(ng-init='vm.getGeneralSetting()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.payment_setting_form')
      .header
        .row(ng-init='vm.test()')
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active Payment
          .grid-4.grid-5-sm.grid-6-xs.text-right
            input.btn.btn-orange(type='submit',ng-disabled='!vm.payment_setting_form.modified',value='Save')
      .main-content.inner-padding
        .row
          .grid-3.grid-12-xs
            h3 Accept payments
            p._mx160
              | Enable
              a(href='#') payment gateways
              |  to accept credit cards, Paypal, and other payment methods during checkout.
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  label
                    span.fa.fa-paypal.settings-icon
                    | PayPal payments
                  p
                    | Your store accepts PayPal payments with PayPal Express Checkout. A PayPal button will display during checkout.
                  p
                    | After your first sale, PayPal will email you at rj.tan@jumpdigital.asia with instructions for setting up a PayPal Merchant account and claiming your funds.
                  p
                    strong PayPal Express Checkout
                    a.popup-modal.orange(href='#edit-zone') (rj.tan@jumpdigital.asia)
            .border-wrap
              ul
                li
                  label
                    span.fa.fa-money.settings-icon
                    | Manual payments (COD)
                  p
                    | Provide customers with instructions to pay outside of your online store. Choose from cash on delivery (COD), money order, bank deposit, or create a custom solution.
          .clear
        hr.border-break
