home-sidebar
ui-view
  .main-panel(ng-init='vm.index()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.shipping_setting_form')
      .header
        .row(ng-init='vm.test()')
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active Shipping
      .main-content.inner-padding
        .row
          .grid-3.grid-12-xs
            h3 Shipping origin
            p._mx160 The address used to calculate shipping rates.
          .grid-9.grid-12-xs
            .border-wrap
              ul
                li
                  label Shipping from
                  p.text-right
                    a.orange(ui-sref='setting.shipping.edit({id: zone.id})',href='')
                      i.fa.fa-pencil
                      |  Edit
                  p {{vm.shipping_setting.street}}
                  p {{vm.shipping_setting.apt_suite}}
                  p {{vm.shipping_setting.city}}
                  p {{vm.shipping_setting.postal}}
                  p {{vm.shipping_setting.country}}
                  p {{vm.shipping_setting.region}}
                  p {{vm.shipping_setting.phone}}

        hr.border-break
        .row
          .grid-3
            h3 Zones and Rates
            p._mx160
              | Use shipping zones to choose the regions that you ship to, and define your shipping rates of each zone.
              a(href='add-shipping.html') Add Shipping Zone

          .grid-9
            a.orange.text-right(ui-sref='setting.shipping.new({shipping_setting_id: vm.shipping_setting.id})') Add Shipping Zone
            .border-wrap
              .row(ng-repeat='zone in vm.zones')
                .grid-12
                  table.table
                    thead
                      th {{zone.name}}
                        span(ng-repeat='country in zone.shipping_zone_country')
                          | ({{country.country}})
                      th.text-right
                        a.orange(ui-sref='setting.shipping.edit({id: zone.id})',href='')
                          i.fa.fa-pencil
                          |  Edit
                    tbody(ng-repeat='rate in zone.shipping_zone_based_rate')
                      tr
                        td
                          p {{rate.name}}
                          p(ng-show='rate.based_rate_type == 1') {{rate.minimum |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}} - {{rate.maximum |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                          p(ng-show='rate.based_rate_type == 2') {{rate.minimum}} {{vm.weight_unit == "g" ? "kg" : vm.weight_unit}} - {{rate.maximum}} {{vm.weight_unit == "g" ? "kg" : vm.weight_unit}}
                        td.text-right
                          p {{rate.is_free ? "Free" : (rate.amount |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2)}}
        hr.border-break
        .row
          .grid-3
            h3 Packages
            p._mx160
              | The package sizes you use to ship your products and purchase shipping labels. Weight and dimensions of the default package are used when calculating shipping rates at checkout.
          .grid-9
            .border-wrap
              table.table
                thead
                  th Title
                  th Package type
                  th Dimensions
                  th Weight
                tbody
                  tr
                    td
                      a.popup-modal(href='#edit-package') Sample Box
                    td box
                    td 30 x 20 x 15 cm
                    td 0.188 kg
