form(ng-submit='vm.stateParams.id ? vm.update() : vm.create()', name='vm.shipping_setting_form')
  .main-panel(ng-init='vm.stateParams.id ? (vm.stateParams.CreateShipping ? "" : vm.show()) : vm.checkExistingCountry()')
    .header
      .row(ng-init='vm.test()')
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li Settings
            li
              a(ui-sref="setting.shipping()") shipping
            li.active {{vm.stateParams.id ? vm.shipping.name : "New shipping zone"}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(ui-sref="setting.shipping()",href='') Cancel
          input.btn.btn-orange(type='submit',ng-disabled='!vm.shipping_setting_form.modified',value='Save')
    .main-content.listing-padding
      .row
        .alert.alert-success(ng-show='vm.stateParams.CreateShippingZone')
          p
          | Shipping zone has  been successfully saved.
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .grid-12
          .border-wrap
            ul
              li
                label Zone name *
                input._100(type='text', ng-model='vm.shipping.name', required='')
          .border-wrap
            label Country
            ui-select(ng-model='vm.countries.selected', multiple='', theme='selectize',title='Choose a person',on-select='vm.addCountryToList($item)',on-remove='vm.onRemoveCountryToList($item)',required)
                  ui-select-match(placeholder='Select or search a person in the list...') {{$item.name}}
                  ui-select-choices(ui-disable-choice='item.isUsed',repeat='item in vm.countries | filter: $select.search')
                    div(ng-bind-html='item.name + " " + (item.isUsed ? "(Already in another shipping zone)":"") | highlight: $select.search')
          .border-wrap
            .row
              .grid-6
                h3 Price based rates
              .grid-6.text-right
                a.popup-modal.orange(ng-click='vm.openPriceBasedModalForm()',href='') Add rate
              .grid-12
                table.table
                  thead
                    th Name
                    th Range
                    th Rate Amount
                    th(colspan='2', width='10%')
                  tbody(ng-repeat='priceBased in vm.shipping.shipping_zone_based_rate_attributes')
                    tr(ng-show='priceBased.based_rate_type == 1')
                      td {{priceBased.name}}
                      td {{priceBased.minimum |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}} - {{priceBased.maximum |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2}}
                      td {{priceBased.is_free ? "Free" : (priceBased.amount |currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱'):2)}}

                      td
                        a(ng-click='vm.openPriceBasedModalForm($index)',href='')
                          i.fa.fa-pencil
                      td
                        a(href='#')
                          i.fa.fa-trash
          .border-wrap
            .row
              .grid-6
                h3 Weight based rates
              .grid-6.text-right
                a.popup-modal.orange(ng-click='vm.openWeightBasedModalForm()',href='') Add rate
              .grid-12
                table.table
                  thead
                    th Name
                    th Range
                    th Rate Amount
                    th(colspan='2', width='10%')
                  tbody(ng-repeat='weigthBased in vm.shipping.shipping_zone_based_rate_attributes')
                    tr(ng-show='weigthBased.based_rate_type == 2')
                      td {{weigthBased.name}}
                      td {{weigthBased.minimum}} {{vm.weight_unit == "g" ? "kg" : vm.weight_unit }} - {{weigthBased.maximum}} {{vm.weight_unit == "g" ? "kg" : vm.weight_unit }}
                      td {{weigthBased.is_free? "Free" : weigthBased.amount }}
                      td
                        a(ng-click='vm.openWeightBasedModalForm($index)',href='')
                          i.fa.fa-penci
  l                    td
                        a(href='#')
                          i.fa.fa-trash

      hr.border-break
