form(ng-submit='vm.add(vm.modalWeightbased)',name='new_weight_based')
	.modal-header
		p.text-right
			a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
				i.fa.fa-close
		h2#modal-title.modal-title Add weight based rate
	#modal-body.modal-body
		.border-wrap
			ul
				li
					label Name
					input._100(type='text',ng-model='vm.modalWeightbased.name',required)
				li
					label Minimum order weigth ({{vm.weight_unit == "g" ? "kg" : vm.weight_unit }})
					input._100(type='number', ng-model='vm.modalWeightbased.minimum', placeholder='0', required='')
				li
					label Maximum order weigth ({{vm.weight_unit == "g" ? "kg" : vm.weight_unit }})
					input._100(type='number', ng-model='vm.modalWeightbased.maximum', placeholder='No limit')
				li
					label
					input(type='checkbox',ng-model='vm.modalWeightbased.is_free')
					|  Free shipping rate
				li
					label Rate amount
					input._100(type='text', ng-model='vm.modalWeightbased.amount',ng-disabled='vm.modalWeightbased.is_free',ng-required='!vm.modalWeigthbased.is_free')
	.modal-footer
		a.popup-modal-dismiss.btn.btn-white._mr5(href='#',ng-click='vm.cancel()') Cancel
		input#submitbutton.btn.btn-orange(type='submit', value='Add')
