form(ng-submit='vm.add(vm.modalPricebased)',name='vm.new_price_based')
	.modal-header
		p.text-right
			a.popup-modal-dismiss(href='',ng-click='vm.cancel()')
				i.fa.fa-close
		h2#modal-title.modal-title Add price based rate
	#modal-body.modal-body
		.border-wrap
			ul
				li
					label Name
					input._100(type='text',ng-model='vm.modalPricebased.name',required)
				li
					label Minimum order price ({{vm.currency.symbol_native? vm.currency.symbol_native : "₱"}})
					input._100(type='number', ng-model='vm.modalPricebased.minimum', placeholder='0', required='')
				li
					label Maximum order price ({{vm.currency.symbol_native? vm.currency.symbol_native : "₱"}})
					input._100(type='number', ng-model='vm.modalPricebased.maximum', placeholder='No limit', num)
				li
					label
					input(type='checkbox',ng-model='vm.modalPricebased.is_free')
					|  Free shipping rate
				li
					label Rate amount
					input._100(type='number', ng-model='vm.modalPricebased.amount',ng-disabled='vm.modalPricebased.is_free',ng-required='!vm.modalPricebased.is_free')
	.modal-footer
		a.popup-modal-dismiss.btn.btn-white._mr5(href='#',ng-click='vm.cancel()') Cancel
		input#submitbutton.btn.btn-orange(type='submit', ng-disabled='!vm.new_price_based.modified', value='Add')
