form(ng-submit='vm.update()', name='vm.tax_setting_form')
  .main-panel(ng-init='vm.show()')
    .header
      .row(ng-init='vm.test()')
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-user")
          ol.breadcrumb
            li Settings
            li
              a(ui-sref="setting.taxes()") Taxes
            li.active {{vm.stateParams.id ? vm.shipping.name : "New shipping zone"}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(ui-sref="setting.taxes()",href='') Cancel
          input.btn.btn-orange(type='submit',ng-disabled='!vm.tax_setting_form.modified',value='Save')
    .main-content.inner-padding
      .row
        .grid-3.grid-12-xs
          h3 Base taxes
          p._mx160
            | All applicable taxes for {{vm.tax_setting.shipping_zone_country.country}}. These taxes will be used unless overrides are specified below.
        .grid-9.grid-12-xs
          .border-wrap
            ul.two-col
              li
                label Country Tax (%)
                input._50(type='number', ng-model='vm.tax_setting.rate',required='',min='0',max='100', step='0.01') 
              li
      .clear
      hr.border-break
