home-sidebar
ui-view
  .main-panel(ng-init='vm.index()')
    form(ng-submit='vm.setGeneralSetting()', name='vm.tax_setting_form')
      .header
        .row(ng-init='vm.test()')
          .grid-8.grid-7-sm.grid-6-xs
            span(class="fa fa-bars" id="nav-icon")
            span(id="icon-title" class="fa fa-user")
            ol.breadcrumb
              li Settings
              li.active Taxes
          .grid-4.grid-5-sm.grid-6-xs.text-right
            input.btn.btn-orange(type='submit',ng-disabled='!vm.tax_setting_form.modified',value='Save')
      .main-content.inner-padding
        .row
          .grid-3.grid-12-xs
            h3 Tax Rates
            p._mx160
              | A list of all the tax rates for the countries you ship to. To add a country to this list, go to 
              a.orange(ui-sref="setting.shipping()") shipping settings
              |  and click on Add shipping zone.
          .grid-9.grid-12-xs
            .border-wrap
              table.table
                thead
                  th Destination
                  th Country Tax Rate
                  th # Overrides
                  th Sub-regions
                tbody
                  tr(ng-repeat='tax in vm.taxes')
                    td {{tax.country}}
                    td 
                      a.orange(ui-sref="setting.taxes.edit({id: tax.tax_setting.id})"){{tax.tax_setting.rate}}%
                    td 
                    td 
          .clear
        hr.border-break
