.main-panel
  form(ng-submit='vm.updateSubCategory()', name='edit_subcategory')
    .header(ng-init='vm.showSubCategory()')
      .row
        alert.alert-error(ng-show="vm.error",ng-repeat='(key, error) in vm.error')
          p(ng-repeat='value in error')
            | {{value}}
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/subcategory/product') Prduct Sub-Categories
            li.active {{vm.subcategory.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/subcategory/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li(ng-init='vm.getProductCategory()')
              label Product Category*
              select._30(ng-model='vm.subcategory.category_id', ng-options='category.id as category.name for category in vm.categories', required='', autofocus='')
            li
              label Sub-Category Name*
              input._30(type='text', ng-model='vm.subcategory.name', required='', ng-change='vm.set_url(vm.subcategory.category_id, vm.subcategory.name)')
            li
              label URL Key
              input._30(type='text', ng-model='vm.url')
            li
              label Description*
              textarea._100(rows='18', ng-model='vm.subcategory.description')
            li
              label Image
              input(type='file', ngf-select='', ng-model='vm.subcategory.image', name='vm.subcategory.image', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="10MB")
            li
              img(ngf-src="vm.subcategory.image.url || vm.subcategory.image")
