html
  body
    home-sidebar
    div(ui-view='')
      .main-panel
        .header
          .row
            .grid-8.grid-7-sm.grid-6-xs
              span(class="fa fa-bars" id="nav-icon")
              span(id="icon-title" class="fa fa-tag")
              ol.breadcrumb
                li Product Sub-Categories
            .grid-4.grid-5-sm.grid-6-xs.text-right
                input.btn.btn-orange(ui-sref='subcategory.new', type='submit', value='Add New Sub-Category')

        .main-content.listing-padding
          .border-wrap
            .row
              .grid-2.grid-3-sm.grid-4-xs._mb25
                label.select
                  select
                    option Filter product category
                    option name
              .grid-10.grid-9-sm.grid-8-xs
                .search
                  input(type='text', ng-model='search', placeholder='Start typing to search for sub-categories..')
                  button(type='submit')
                    span.fa.fa-search

            .table-responsive(ng-init='vm.all()')
              table.table
                thead
                  tr
                    th._05
                        input#select-all(type='checkbox' ng-model='vm.selectedAll' ng-click='vm.selectAll()')
                    th._25(ng-click="vm.sortBy('name')") Name
                      span.fa(ng-show="vm.propertyName === 'name'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                    th._10 Image
                    th(ng-click="vm.sortBy('description')") Product Category
                      span.fa(ng-show="vm.propertyName === 'description'",ng-class='{"fa-caret-up": !vm.reverse, "fa-caret-down": vm.reverse}')
                    th(colspan='2', width='8%') Actions
                tbody
                  tr(dir-paginate='(key, sub_category) in vm.sub_categories |filter : search|orderBy:vm.propertyName: vm.reverse | itemsPerPage: 10',current-page='vm.currentPage')
                    td
                        input(type='checkbox' ng-model='sub_category.Selected' ng-click='vm.checkIfAllSelected()')
                    td
                      a.orange(ui-sref='subcategory.edit({id:sub_category.id})') {{ sub_category.name }}
                    td
                      img.product-img(src='{{sub_category.image.url || "../img/product-default.png"}}', width='45', height='45', alt='')
                    td {{sub_category.category.name}}
                    td
                      a(ui-sref='subcategory.edit({id:sub_category.id})')
                        span.fa.fa-pencil
                    td
                      a(ng-click='vm.deleteSubCategory(sub_category)')
                        span.fa.fa-trash
          .row
              .grid-1
                label.select
                  select(ng-model='vm.action'  ng-options='action.name as action.name for action in vm.actions')

              .grid-1
                input.btn.btn-orange(type='submit', value='Apply',ng-click='vm.multipleDelete()')
              .grid-10
                .pagination
                  dir-pagination-controls(boundary-links='true')
