.main-panel
  form(ng-submit='vm.createSubCategory(subcategory)',name='new_subcategory')
    .header
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/subcategory/product') Product sub-categories
            li.active  add sub-category
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr5(href='/subcategory/product') Cancel
          input.btn.btn-orange(type='submit', value='Save Changes')
    .main-content.inner-padding
      .row
        .alert.alert-error(ng-show="vm.error")
          div(ng-repeat='(key, error) in vm.error')
            div(ng-repeat='value in error')
              p
                | {{value}}
        .border-wrap
          ul
            li(ng-init='vm.getProductCategory()')
              label Product Category*
              .select-wrap._15
                select._100(ng-model='subcategory.category_id', ng-options='category.id as category.name for category in vm.categories', autofocus='', required)
            li
              label Sub-Category Name*
              input._30(type='text', ng-model='subcategory.name', required, ng-change='vm.set_url(subcategory.category_id, subcategory.name )')
            li
              label URL Key
              input._30(type='text', ng-model='vm.url')
            li
              label Description*
              textarea._100(rows='18',ng-model='subcategory.description',required)
            li
              label Image
              input(type='file', ngf-select='', ng-model='subcategory.image', name='file', ngf-pattern="'image/*'", ngf-accept="'image/*'",ngf-max-size="20MB", ngf-model-invalid='errorFile')
            li
              .alert.alert-error(ng-show='new_category.file.$error.maxSize') File too large {{errorFile.size / 1000000|number:1}}MB : max is 20M
              img(ngf-src="subcategory.image || '/img/product-default.png' ")
