.main-panel
  form
    .header(ng-init='vm.showSubCategory()')
      .row
        .grid-8.grid-7-sm.grid-6-xs
          span(class="fa fa-bars" id="nav-icon")
          span(id="icon-title" class="fa fa-tag")
          ol.breadcrumb
            li
              a(href='/subcategory/product') Product categories
            li.active {{vm.subcategory.name}}
        .grid-4.grid-5-sm.grid-6-xs.text-right
          a.btn.btn-white._mr15(href='/subcategory/product/{{vm.subcategory.id}}/edit') Edit
    .main-content.inner-padding
      .alert.alert-success
        p
          | Sub-category has been saved
      .border-wrap
        ul
          li
            label
              strong Product Category
            p {{vm.subcategory.category.name}}
          li
            label
              strong Sub-Category Name
            p {{vm.subcategory.name}}
          li
            label
              strong URL Key
            p {{vm.subcategory.url}}
          li
            label
              strong Description
            p {{vm.subcategory.description}}

          li
            img(ngf-src="vm.subcategory.image.url || vm.subcategory.image")
