home-sidebar
.main-panel
  .header
    .row
      .grid-8.grid-7-sm.grid-6-xs
        span(class="fa fa-bars" id="nav-icon")
        // dynamic to depende sa icon ng module
        span(id="icon-title" class="fa {{ navbar.icon || 'fa-area-chart' }}")
        // end
        ol.breadcrumb
          li dashboard
  .main-content.listing-padding.dashboard(ng-init='vm.dashboard()')
    .row
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-green
          ul
            li
              h2
                i.fa.fa-line-chart
                |  Total Sales
              h3 {{ vm.total_sales | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-red
          ul
            li
              h2
                i.fa.fa-users
                |  Total Registered Customers
              h3 {{vm.total_customer}}
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-dark-blue
          ul
            li
              h2
                i.fa.fa-file-text-o
                |  Total Orders
              h3 {{vm.total_orders}}
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-rose
          ul
            li
              h2
                i.fa.fa-shopping-cart
                |  Average Basket Size
              h3 {{vm.ave_basket_size}}
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-lightblue
          ul
            li
              h2
                i.fa.fa-user
                |  Average Sales Per User
              h3 {{ vm.ave_sales_per_user | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
      .grid-4.grid-6-sm.grid-12-xs
        .border-wrap.bg-blue-green
          ul
            li
              h2
                i.fa.fa-area-chart
                |  Average Sales Per Order
              h3 {{ vm.ave_sales_per_order | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
      .grid-6.grid-12-xs._mt60
        .border-wrap(ng-init='vm.last_five_orders()')
          h2.dashboard-title Last 5 Orders
          .table-responsive
            table.table
              thead
                th Customers
                th Items
                th Grand Total
              tbody
                tr(ng-repeat = 'order in vm.orders_list')
                  td {{order.full_name}}
                  td {{order.items}}
                  td {{ order.grand_total | currency: (vm.currency.symbol_native? vm.currency.symbol_native : '₱') :2 }}
      .grid-6.grid-12-xs._mt60
        .border-wrap(ng-init='vm.list()')
          h2.dashboard-title Sales Last 6 months
          div(style='height:283px;width:100%;')
            canvas#line.chart.chart-line(chart-data='vm.data', chart-labels='vm.labels', chart-series='vm.series', chart-options='options', canvas='', chart-title='s', chart-height='100')
