section.bg-gray#auto-height(style="min-height: 600px;")
	.form-login
		a(href="#" class="logo-jump")
		toaster-container(toaster-options="{'time-out': 3000, 'position-class': 'alert-error','close-button':true}")
		form(
			name="forgotPasswordForm" novalidate
			ng-submit="vm.forgot()"
		)
			label Email Address
			input(
			type="text"
			ng-model="vm.user.email"
			required
			)
			p.alert.alert-success(ng-show="vm.result") Ok, please check your email: {{ vm.result.email }}
			p.alert.alert-error(ng-show="vm.forgotError") {{ vm.forgotError }}
			input(
				type="submit"
				value="Send"
				ng-disabled="forgotPasswordForm.$invalid"
			)
			.float-right
				a(href="/login")
					| &larr; Back