/*-- UNIVERSAL --*/

.clear {clear:both;}

.hidden {display:none !important;}

.visible {display:block !important;}

.float-left {float:left;}

.float-right {float:right;}

.text-right {text-align: right;}

.text-left {text-align: left;}

.text-center {text-align: center;}

.no-padding {padding: 0 !important;}

.no-margin { margin: 0;}

.valign-top { vertical-align: text-top;}

.underline { text-decoration: underline; }

._05 { width: 5%; }
._10 { width: 10%; }
._15 { width: 15%; }
._20 { width: 20%; }
._25 { width: 25%; }
._30 { width: 30%; }
._35 { width: 35%; }
._40 { width: 40%; }
._45 { width: 45%; }
._50 { width: 50%; }
._55 { width: 55%; }
._60 { width: 60%; }
._65 { width: 65%; }
._70 { width: 70%; }
._75 { width: 75%; }
._80 { width: 80%; }
._85 { width: 85%; }
._90 { width: 90%; }
._95 { width: 95%; }
._100 { width: 100%; }

/* max width */
._mx160 { max-width: 160px; }
._mx200 { max-width: 200px; }

/* font weight */
.regular { font-weight: 400; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }

/* margin left */
._ml5 { margin-left: 5px; }
._ml10 { margin-left: 10px; }
._ml15 { margin-left: 15px; }
._ml20 { margin-left: 20px; }
._ml25 { margin-left: 25px; }
._ml30 { margin-left: 30px; }
._ml35 { margin-left: 35px; }
._ml40 { margin-left: 40px; }
._ml45 { margin-left: 45px; }
._ml50 { margin-left: 50px; }

/* margin-right */
._mr5 { margin-right: 5px; }
._mr10 { margin-right: 10px; }
._mr15 { margin-right: 15px; }
._mr20 { margin-right: 20px; }
._mr25 { margin-right: 25px; }
._mr30 { margin-right: 30px; }
._mr35 { margin-right: 35px; }
._mr40 { margin-right: 40px; }
._mr45 { margin-right: 45px; }
._mr50 { margin-right: 50px; }

/* margin top */
._mt0 { margin-top: 0 !important;  }
._mt5 { margin-top: 5 !important;  }
._mt10 { margin-top: 10 !important;  }
._mt15 { margin-top: 15px !important; }
._mt20 { margin-top: 20px !important; }
._mt25 { margin-top: 25px !important; }
._mt30 { margin-top: 30px !important; }
._mt35 { margin-top: 35px !important; }
._mt40 { margin-top: 40px !important; }
._mt45 { margin-top: 45px !important; }
._mt50 { margin-top: 50px !important; }
._mt55 { margin-top: 55px !important; }
._mt60 { margin-top: 60px !important; }
._mt65 { margin-top: 65px !important; }
._mt70 { margin-top: 70px !important; }
._mt75 { margin-top: 75px !important; }
._mt80 { margin-top: 80px !important; }
._mt85 { margin-top: 85px !important; }
._mt90 { margin-top: 90px !important; }
._mt95 { margin-top: 95px !important; }
._mt100 { margin-top: 100px !important; }
._mt17 { margin-top: 17px !important; }

/* margin bottom */
._mb0 { margin-bottom: 0 !important;  }
._mb5 { margin-bottom: 5 !important;  }
._mb10 { margin-bottom: 10 !important;  }
._mb15 { margin-bottom: 15px !important; }
._mb20 { margin-bottom: 20px !important; }
._mb25 { margin-bottom: 25px !important; }
._mb30 { margin-bottom: 30px !important; }
._mb35 { margin-bottom: 35px !important; }
._mb40 { margin-bottom: 40px !important; }
._mb45 { margin-bottom: 45px !important; }
._mb50 { margin-bottom: 50px !important; }
._mb17 { margin-bottom: 17px !important; }

._mb65 { margin-bottom: 65px !important; }

.d-block { display: block; }
.i-block { display: inline-block; }

/* text color */
.orange { color:#e75b27; }
.red { color:#962e07; }
.green { color:#1a711b; }
.black { color: #000 !important; }
.gray { color: #6d6d6d; }
.blue { color:#337ab7; }
.table {
	display: table;
	width: 100% !important;
	height: 100% !important;
}

.table.content { max-width: 169px; margin: 0 auto;}

.table-row { display: table-row; font-size: 0;} 

.cell {
	display: table-cell;
	vertical-align: middle !important;
}

/*.container {
	position:relative;
	margin:auto;
	width:100%;
	max-width:980px;
	padding-right: 14px;
	padding-left: 14px;
}*/

.row {
	margin-right:-7px;
	margin-left: -7px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}


.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	padding-left:7px;
	padding-right:7px;
	float:left;
}

.grid-1-right, .grid-2-right, .grid-3-right, .grid-4-right, .grid-5-right, .grid-6-right, .grid-7-right, .grid-8-right, .grid-9-right, .grid-10-right, .grid-11-right, .grid-12-right {float:right; padding-left:7px; padding-right:7px;}

.grid-1-left, .grid-2-left, .grid-3-left, .grid-4-left, .grid-5-left, .grid-6-left, .grid-7-left, .grid-8-left, .grid-9-left, .grid-10-left, .grid-11-left, .grid-12-left {float:left; padding-left:7px; padding-right:7px;}


.grid-1 {width:8.33%;}

.grid-2 {width:16.66666667%;}

.grid-3 {width:25%;}

.grid-4 {width:33.33%;}

.grid-5 {width:41.66666667%;}

.grid-6 {width:50%;}

.grid-7 {width:58.33333333%;}

.grid-8 {width:66.66666667%;}

.grid-9 {width:75%;}

.grid-10 {width:83.33333333%;}

.grid-11 {width:91.66666667%;}

.grid-12 {width:100%;}

.grid-12-offset {margin-left:100%;}

.grid-11-offset {margin-left:91.66666667%;}

.grid-10-offset {margin-left:83.33333333%;}

.grid-9-offset {margin-left:75%;}

.grid-8-offset {margin-left:66.66666667%;}

.grid-7-offset {margin-left:58.33333333%;}

.grid-6-offset {margin-left:50%;}

.grid-5-offset {margin-left:41.66666667%;}

.grid-4-offset {margin-left:33.33%;}

.grid-3-offset {margin-left:25%;}

.grid-1-offset {margin-left:8.33%;}

.grid-2-offset {margin-left:16.66666667%;}

.grid-1-offset {margin-left:8.33%;}

.grid-12-right {width: 100%;}

.grid-11-right {width: 91.66666667%;}

.grid-10-right {width: 83.33333333%;}

.grid-9-right {width: 75%;}

.grid-8-right {width: 66.66666667%;}

.grid-7-right {width: 58.33333333%;}

.grid-6-right {width: 50%;}

.grid-5-right {width: 41.66666667%;}

.grid-4-right {width: 33.33333333%;}

.grid-3-right {width: 25%;}

.grid-2-right {width: 16.66666667%;}

.grid-1-right {width: 8.33333333%;}

.grid-0-right {width: auto;}

.grid-12-left {width: 100%;}

.grid-11-left {width: 91.66666667%;}

.grid-10-left {width: 83.33333333%;}

.grid-9-left {width: 75%;}

.grid-8-left {width: 66.66666667%;}

.grid-7-left {width: 58.33333333%;}

.grid-6-left {width: 50%;}

.grid-5-left {width: 41.66666667%;}

.grid-4-left {width: 33.33333333%;}

.grid-3-left {width: 25%;}

.grid-2-left {width: 16.66666667%;}

.grid-1-left {width: 8.33333333%;}

.grid-0-left {width: auto;}

#sideNavi {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 240px;
	border-left:1px solid #fff;
	background:#000;
	margin-right:-240px;
	z-index: 2;
}

#sideNavi ul {
	margin:0;
	padding:0;
}

#sideNavi li {
	list-style:none;
	position: relative;
}

#sideNavi a {
	display:block;
	color:#fff;
	padding:1em 2em 1em 1.6em !important;
	font-size: 14px;
	text-transform: uppercase;
}

#sideNavi a:hover, #sideNavi a.active {
	background:#111111;
}

#sideNavi ul ul {display:none;}

#sideNavi li ul li {margin-left: 3em;}

#sideNavi li ul li a {font-size: 12px;}

#sideNavi ul li span.trigger {position:absolute; right:1em; color:#fff; font-size:20px; z-index:0; top:10px; display: block;}

#navigation ul li span.trigger {position:absolute; right:1em; color:#fff; font-size:20px; z-index:0; top:10px; display: none;}

#navTrigger {
	color:#fff;
	font-size: 30px;
	margin-top:5%;
	margin-right: 40px;
}

@media screen and (max-width: 800px) {
	.grid-1-sm, .grid-2-sm, .grid-3-sm, .grid-4-sm, .grid-5-sm, .grid-6-sm, .grid-7-sm, .grid-8-sm, .grid-9-sm, .grid-10-sm, .grid-11-sm, .grid-12-sm {
		float:left !important; 
		padding-left:7px;
		padding-right:7px;
	}

	.grid-1-right-sm, .grid-2-right-sm, .grid-3-right-sm, .grid-4-right-sm, .grid-5-right-sm, .grid-6-right-sm, .grid-7-right-sm, .grid-8-right-sm, .grid-9-right-sm, .grid-10-right-sm, .grid-11-right-sm, .grid-12-right-sm {float:right; padding-left:7px; padding-right:7px;}

	.grid-1-left-sm, .grid-2-left-sm, .grid-3-left-sm, .grid-4-left-sm, .grid-5-left-sm, .grid-6-left-sm, .grid-7-left-sm, .grid-8-left-sm, .grid-9-left-sm, .grid-10-left-sm, .grid-11-left-sm, .grid-12-left-sm { float:left; padding-left:7px; padding-right:7px;}
	
  	.hidden-sm {display: none !important;}

  	.visible-sm {display: block !important;}

  	.grid-12-sm {width:100%;}

	.grid-11-sm {width:91.66666667%;}

	.grid-10-sm {width:83.33333333%;}

	.grid-9-sm {width:75%;}

	.grid-8-sm {width:66.66666667%;}

	.grid-7-sm {width:58.33333333%;}

	.grid-6-sm {width:50%;}

	.grid-5-sm {width:41.66666667%;}

	.grid-4-sm {width:33.33%;}

	.grid-3-sm {width:25%;}

	.grid-2-sm {width:16.66666667%;}

	.grid-1-sm {width:8.33%;}

	.grid-12-offset-sm {margin-left:100%;}

	.grid-11-offset-sm {margin-left:91.66666667%;}

	.grid-10-offset-sm {margin-left:83.33333333%;}

	.grid-9-offset-sm {margin-left:75%;}

	.grid-8-offset-sm {margin-left:66.66666667%;}

	.grid-7-offset-sm {margin-left:58.33333333%;}

	.grid-6-offset-sm {margin-left:50%;}

	.grid-5-offset-sm {margin-left:41.66666667%;}

	.grid-4-offset-sm {margin-left:33.33%;}

	.grid-3-offset-sm {margin-left:25%;}

	.grid-1-offset-sm {margin-left:8.33%;}

	.grid-2-offset-sm {margin-left:16.66666667%;}

	.grid-1-offset-sm {margin-left:8.33%;}

	.grid-0-offset-sm {margin-left:0%;}

	.grid-12-right-sm {width: 100%;}

	.grid-11-right-sm {width: 91.66666667%;}

	.grid-10-right-sm {width: 83.33333333%;}

	.grid-9-right-sm {width: 75%;}

	.grid-8-right-sm {width: 66.66666667%;}

	.grid-7-right-sm {width: 58.33333333%;}

	.grid-6-right-sm {width: 50%;}

	.grid-5-right-sm {width: 41.66666667%;}

	.grid-4-right-sm {width: 33.33333333%;}

	.grid-3-right-sm {width: 25%;}

	.grid-2-right-sm {width: 16.66666667%;}

	.grid-1-right-sm {width: 8.33333333%;}

	.grid-0-right-sm {width: auto;}

	.grid-12-left-sm {width: 100%;}

	.grid-11-left-sm {width: 91.66666667%;}

	.grid-10-left-sm {width: 83.33333333%;}

	.grid-9-left-sm {width: 75%;}

	.grid-8-left-sm {width: 66.66666667%;}

	.grid-7-left-sm {width: 58.33333333%;}

	.grid-6-left-sm {width: 50%;}

	.grid-5-left-sm {width: 41.66666667%;}

	.grid-4-left-sm {width: 33.33333333%;}

	.grid-3-left-sm {width: 25%;}

	.grid-2-left-sm {width: 16.66666667%;}

	.grid-1-left-sm {width: 8.33333333%;}

	.grid-0-left-sm {width: auto;}

	#navTrigger { margin-top:18px; margin-right: 10px;}
}

/*@media (max-width: 767px)*/ 

@media screen and (max-width: 560px) {
	.grid-1-xs, .grid-2-xs, .grid-3-xs, .grid-4-xs, .grid-5-xs, .grid-6-xs, .grid-7-xs, .grid-8-xs, .grid-9-xs, .grid-10-xs, .grid-11-xs, .grid-12-xs {
		float:left !important;
		padding-left:7px;
		padding-right:7px;
		margin-bottom:.5em;
	}

	.grid-1-right-xs, .grid-2-right-xs, .grid-3-right-xs, .grid-4-right-xs, .grid-5-right-xs, .grid-6-right-xs, .grid-7-right-xs, .grid-8-right-xs, .grid-9-right-xs, .grid-10-right-xs, .grid-11-right-xs, .grid-12-right-xs {float:right; padding-left:7px; padding-right:7px;}

	.grid-1-left-xs, .grid-2-left-xs, .grid-3-left-xs, .grid-4-left-xs, .grid-5-left-xs, .grid-6-left-xs, .grid-7-left-xs, .grid-8-left-xs, .grid-9-left-xs, .grid-10-left-xs, .grid-11-left-xs, .grid-12-left-xs { float:left; padding-left:7px; padding-right:7px;}

	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {float:none;}

  	.hidden-xs {display: none !important; }

  	.visible-xs {display: block !important; }

  	.grid-12-xs {width:100%;}

	.grid-11-xs {width:91.66666667%;}

	.grid-10-xs {width:83.33333333%;}

	.grid-9-xs {width:75%;}

	.grid-8-xs {width:66.66666667%;}

	.grid-7-xs {width:58.33333333%;}

	.grid-6-xs {width:50%;}

	.grid-5-xs {width:41.66666667%;}

	.grid-4-xs {width:33.33%;}

	.grid-3-xs {width:25%;}

	.grid-2-xs {width:16.66666667%;}

	.grid-1-xs {width:8.33%;}
	
	.grid-12-offset-xs {margin-left:100%;}

	.grid-11-offset-xs {margin-left:91.66666667%;}

	.grid-10-offset-xs {margin-left:83.33333333%;}

	.grid-9-offset-xs {margin-left:75%;}

	.grid-8-offset-xs {margin-left:66.66666667%;}

	.grid-7-offset-xs {margin-left:58.33333333%;}

	.grid-6-offset-xs {margin-left:50%;}

	.grid-5-offset-xs {margin-left:41.66666667%;}

	.grid-4-offset-xs {margin-left:33.33%;}

	.grid-3-offset-xs {margin-left:25%;}

	.grid-1-offset-xs {margin-left:8.33%;}

	.grid-2-offset-xs {margin-left:16.66666667%;}

	.grid-1-offset-xs {margin-left:8.33%;}

	.grid-0-offset-xs {margin-left:0%;}

	.grid-12-right-xs {width: 100%;}

	.grid-11-right-xs {width: 91.66666667%;}

	.grid-10-right-xs {width: 83.33333333%;}

	.grid-9-right-xs {width: 75%;}

	.grid-8-right-xs {width: 66.66666667%;}

	.grid-7-right-xs {width: 58.33333333%;}

	.grid-6-right-xs {width: 50%;}

	.grid-5-right-xs {width: 41.66666667%;}

	.grid-4-right-xs {width: 33.33333333%;}

	.grid-3-right-xs {width: 25%;}

	.grid-2-right-xs {width: 16.66666667%;}

	.grid-1-right-xs {width: 8.33333333%;}

	.grid-0-right-xs {width: auto;}

	.grid-12-left-xs {width: 100%;}

	.grid-11-left-xs {width: 91.66666667%;}

	.grid-10-left-xs {width: 83.33333333%;}

	.grid-9-left-xs {width: 75%;}

	.grid-8-left-xs {width: 66.66666667%;}

	.grid-7-left-xs {width: 58.33333333%;}

	.grid-6-left-xs {width: 50%;}

	.grid-5-left-xs {width: 41.66666667%;}

	.grid-4-left-xs {width: 33.33333333%;}

	.grid-3-left-xs {width: 25%;}

	.grid-2-left-xs {width: 16.66666667%;}

	.grid-1-left-xs {width: 8.33333333%;}

	.grid-0-left-xs {width: auto;}

	#navTrigger { margin-top:14px; margin-right: 0px;}

}


@media screen and (max-width: 340px) {
	#navTrigger {
		font-size: 20px;
		margin-top:12px;
		margin-right: 0px;
	}
	
}