@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat', sans-serif;
    background: #fcfcfc;
    color: #2d2d2d;
    font-size: 11px;
    overflow-x: hidden;
}

a {
    outline: none;
    color:#2d2d2d;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.main-nav ul.active {
    display:block;
}

p {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 11px;
    color:#444;
}

h1 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
}

h2 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}
h2.dashboard-title {
  color: black;
}

h2 a {
    color:#f0f0f0;
}

h3 {
    margin-bottom: 10px;
}

.empty-state figure {
    margin:50px 0;
}

.empty-state h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}

.empty-state .btn {
    min-width: 150px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

/*Page Loader */
.page-loader {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    background: #bf2323;
    padding:1px 0;
}

/* SIDE BAR */
.side-panel {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    bottom: 0;
    width:239px;
    background: #353343;
    overflow: auto;
    transition: all .5s;
}

.side-panel::-webkit-scrollbar {
    width: 1px;
}

.side-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px #232230;
}

.side-panel::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px #232230;
}

.brand {
    position: fixed;
    width:239px;
    z-index: 2;
    background: #232230;
    text-align: center;
    padding: 15px 0;
}

.menu-title {
    padding:15px 0 10px;
    border-bottom: 1px solid #3e3c4e;
}

.menu-title h2 {
    font-size: 15px;
    text-transform: uppercase;
    color:#fff;
    padding-left: 13px;
    margin:0;
}

.notification {
    background: #e75b27;
    border-radius: 6px;
    width:18px;
    text-align: center;
    padding:3px 0 2px;
    color:#fff;
    font-size: 10px !important;
}

.icon-option {
    position: fixed;
    top:71px;
    background: #282737;
    width: 58px;
    height: 100%;
}

.icon-option li:first-child {
    margin-top: 16px;
}

.icon-option li {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.icon-option li span.notification {
    position: absolute;
    top:-6px;
    right:8px;
    cursor: pointer;
    border:1px solid #000;
}

.icon-option img {
    opacity: 0.5;
    border-radius: 5px;
}

.icon-option img:hover, .icon-option a.active img {
    opacity: 1;
}

.nav-column {
    margin-top: 69px;
    margin-left: 58px;
    width:180px;
}

nav .main-nav li {
    position: relative;
}

nav .main-nav > li > a {
    color:#717171;
    display: block;
    padding:17px 0 17px 13px;
    text-transform: uppercase;
}

nav .main-nav li a:hover {
    color:#fff;
}

nav .main-nav li a.active {
    /* background: #464456; */
    color:#fff;
}

nav .main-nav li a span {
    position: absolute;
    top:19px;
    right:20px;
    font-size: 12px;
}

nav .main-nav li span.notification {
    position: absolute;
    top:15px;
    left:120px;
    cursor: pointer;
}

nav .main-nav li a:nth-child(2) {
    padding:0;
}

nav .main-nav li ul {
    position: relative;
    left:30px;
    display: none;
}

nav .main-nav li a:hover {
    color:#fff;
}

nav .main-nav li a.active {
    /*background: #464456;*/
    color:#fff;
}

nav .main-nav li ul li a {
    color:#717171;
    display: block;
    padding:8px 0;
    text-transform: uppercase;
}

/* END SIDE BAR */

/* MAIN CONTENT */

.main-panel {
    position: relative;
    margin-left: 239px;
    overflow-x: hidden;
    transition: all .5s;
}

#nav-icon {
    font-size: 15px;
    float:left;
    margin-top:8px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

#icon-title {
    font-size: 15px;
    float:left;
    margin-top:8px;
    margin-right: 10px;
}

.campaign-img {
    float:left;
    margin-right: 10px;
    border-radius: 5px;
}

.main-content {
    padding:40px 0 20px;
    margin-top: 71px;
    min-height: calc(100vh - 71px);
}

.main-content.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-padding {
    padding:40px 160px 20px;
}

.listing-padding {
    padding:40px 20px 20px;
}

.header {
    position: fixed !important;
    z-index: 5;
    top:0;
    width: calc(100% - 239px);
    background: #e8edf1;
    padding: 19px;
    transition: all .5s;
    -webkit-transition: width .5s;
    transition: width .5s;
    min-height: 71px;
}

.header-title {
    width:80%;
    float:left;
}

.user-logout {
    width: 3%;
    float:left;
}

.user-logout span.fa-power-off {
    color:#e75b27;
    font-size: 20px;
}

.head-notification {
    position: relative;
    width:17%;
    float:left;
    text-align: right;
}

.head-notification span.notification {
    width:15px;
    position: absolute;
    top:-5px;
    right:-5px;
    z-index: 2;
    border:1px solid #fff;
}

.head-notification span.fa-bell {
    color:#5b5b73;
    font-size: 20px;
    cursor: pointer;
}

/* Dropdown */

.dropdown {
    width: 165px;
    position: absolute;
    top: -100px;
    left: 5%;
    z-index: 3;
    display: none;
    text-align: left;
    background: #f6f6f6;
    padding:10px 0;
    border-radius: 3px;
}

.dropdown.open {
    display: block;
}

.dropdown p {
    background: #fff;
    padding:5px 0;
    margin: 0;
}

.dropdown li a {
    display: block;
    padding:10px 8px;
    color:#777e84;
}

.dropdown li a:hover {
    color:#e75b27;
}

.dropdown:after, .dropdown:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}
.dropdown:before {
    border-color: rgba(153, 153, 153, 0);
    border-width: 12px;
    margin-left: -12px;
}

.tab-container {
    border:1px solid #e4e2e2;
}

#tab-controls {
    background: #f6f6f6;
    font-size: 0;
}

#tab-controls a {
    color:#000;
    font-size: 11px;
    display: inline-block;
    background: #f6f6f6;
    padding:13px 30px;
    text-transform: capitalize;
    text-align: center;
    border-right:1px solid #e4e2e2;
    border-bottom:1px solid #e4e2e2;
    box-sizing: border-box;
}

#tab-controls a:hover {
    background: #fcfcfc;
}

#tab-controls a.active {
    background: #fcfcfc;
    border-bottom:none;
}

.tab-content {
    padding:28px 15px;
}

.tab-content .tab-panel {
    display: none;
}

.tab-content .tab-panel.open {
    display: block;
}

.filter-wrap {
    float:left;
    width: 20%;
    margin-bottom: 30px;
}

.filter-search-wrap .filter-wrap {
    float:left;
    width: 15%;
    margin-bottom: 25px;
}

.select {
    border: 1px solid #e4e2e2;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
}

select{
    padding:6px 11px;
    border: 0;
    font-size: 11px;
    width: 100%;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #e75b27;
}

.select:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color: #e75b27;
    padding:6px 0px;
    position: absolute;
    right: 2%;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.search-wrap {
    float:left;
    width: 80%;
    margin-bottom: 30px;
}

.filter-search-wrap .search-wrap {
    float:left;
    width: 60%;
    margin-bottom: 25px;
}

.search {
    position: relative;
}

.search input[type="text"] {
    width:100%;
    border: 1px solid #e4e2e2;
    padding:6px 25px 5px;
}

.search button {
    position: absolute;
    top:6px;
    left:10px;
    color:#e4e2e2;
    background: none;
}

.search i {
    position: absolute;
    top:10px;
    left:10px;
    color:#e4e2e2;
    background: none;
}

/* -- table -- */

.table-responsive {
    overflow-x:auto;
}

.table {
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #e4e2e2;
    text-transform: capitalize;
    padding: 16px;
    color:#2d2d2d;
}

.table>tbody>tr>td {
    display: table-cell;
    padding: 16px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e4e2e2;
    vertical-align: middle;
    color: #484747;
}

.table>tbody>tr:hover, .table>tbody>tr.highlight{
    background: #f7f7f7;
}

#table-sort {
    color:#000;
}

#sort-column {
    cursor: pointer;
}

.table span:hover {
    color:#e75b27;
}

.table.no-border>tbody>tr>td {
    padding: 7px;
    border: none !important;
}

.table.no-border>tbody>tr:hover, .table.no-border>tbody>tr.highlight{
    background: none !important;
}

.table.no-border>tbody>tr:last-child {
    border-top: 1px solid #e4e2e2;
}

/* -- END -- */

/* -- PAGINATION -- */

.pagination ul {
    margin: auto;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
}

.pagination li {
    display: inline-block;
    margin-left:5px;
}

.pagination li a {
    color: #360e02;
    padding:3px 5px;
    display: block;
}

.pagination li a.active, .pagination li a:hover {
    background: #e75b27;
    color: #fff;
}
.pagination>.disabled>a {
   /* color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* -- END -- */

/* Breadcrumbs */

.breadcrumb {
  padding: 8px 10px 0;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
}

.breadcrumb > li a {
    color: #798c9c;
}

.breadcrumb > li a:hover {
    color:#000;
    text-decoration: underline;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #000;
}

/* Tooltip */

.tooltip {
    background:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

/* -- input & textarea -- */

input[type=checkbox] {
    vertical-align: hidden;
    width:15px;
    height:15px;
    background:#edefef;
    border:1px solid #bfbfbf;
    -webkit-appearance: checkbox;
}

input[type=radio] {
    vertical-align: hidden;
    width:15px;
    height:15px;
    background:#edefef;
    border:1px solid #bfbfbf;
    -webkit-appearance: radio;
}

input[type="text"],input[type="password"],input[type="email"],input[type="number"],textarea {
    padding: 7px 11px;
/*    font-size: 12px;*/
    line-height: 16px;
    border: #e1e1e1 1px solid;
}

input[type="text"].reset-padding {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

textarea { resize: none; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="date"]:focus,
 textarea[type="text"]:focus, select:focus {
    border:1px solid #0078bd !important;
    box-sizing: border-box !important;
    /*outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(0,120,189,10);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(0,120,189,10);*/
}

tags-input .tags .input, textarea:focus, select:focus {
  border:0px !important;
  box-sizing: none !important;
}
.radio-inline input[type="radio"]:checked {
    background:red !important;
}

.radio-inline label {
  cursor: pointer;
  font-weight: 400 !important;
}
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline {
  margin-top: 0;
  margin-left: 20px;
}

/* END */

/* Alerts */

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin:0;
}

/* END */


/* borders & backgrounds */

.bg-none { background-color: initial; }
.bg-gray { background-color: #f3f1f2; }
.bg-orange { background-color: #e75b27 !important; }
.bg-white { background-color: #fff !important; }
.bg-lightblue { background-color: #2684f8; }

.no-border-top { border-top: none !important; }
.no-border-right { border-right: none !important; }

.border-gray-bottom { border-bottom: 1px solid #e4e2e2; }
.border-gray { border: 1px solid #e4e2e2 !important; }
.border-orange { border: 1px solid #e75b27 !important;}

/* End */

/* Pseudo Border Radius */
.no-before:before,
.no-after:after { content: '' !important; }

.radius0 {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.radius2 {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

/* END */

/* Autocomplete */
.ui-widget-content a {
    color:#000;
}

.ui-widget-content a:hover {
    color:#fff;
    background: #e75b27;
}

.ui-widget.ui-widget-content {
    position: absolute;
/*    top:240px !important;*/
    -webkit-box-shadow: 1px 1px 5px 0px rgba(228,226,226,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(228,226,226,1);
    box-shadow: 1px 1px 5px 0px rgba(228,226,226,1);
}

/*.ui-widget.ui-widget-content:after, .ui-widget.ui-widget-content:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ui-widget.ui-widget-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}
.ui-widget.ui-widget-content:before {
    border-color: rgba(153, 153, 153, 0);
    border-bottom: 1px solid #e4e2e2;
    border-width: 12px;
    margin-left: -12px;
}*/

/* Buttons */

a.btn {
    line-height: 15px;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 7px 11px 8px;
    border-radius: 2px;
/*    transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;*/
}

.btn-white {
    background: #fff;
    border:1px solid #ccc;
    color:#e75b27 !important;
    box-sizing: border-box;
}
.btn-white:hover {
    background:#e75b27;
    color:#fff !important;
    border:1px solid #e75b27;
    box-sizing: border-box;
}

.btn-orange {
    background-color: #e75b27 !important;
    color:#fff;
}
.btn-orange:hover {
    background-color: #e6460b !important;
}

.btn-blue {
    background-color: #2684f8;
    color:#fff;
}
.btn-blue:hover {
    background-color: #2175db;
}

input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: .55;
}

.btn-orange:disabled:hover {
    cursor: not-allowed;
    background-color: #e75b27 !important;
}

/* END */

/* Recent Searches */
.recent-search ul li {
    display: inline-block;
    padding:5px 8px;
    background-color: #e75b27;
    border-color: #bce8f1;
    border-radius: 5px;
    margin-bottom: 10px !important;
    margin-right: 5px;
}

.recent-search ul li p {
    margin-bottom: 0;
}

.recent-search a {
    color: #fff;
}

.recent-search a:hover {
    text-decoration: underline;
}


/* Tags */
//
// .tags ul li {
//     display: inline-block;
//     padding:5px 8px;
//     color: #31708f;
//     background-color: #d9edf7;
//     border-color: #bce8f1;
//     border-radius: 5px;
//     margin-bottom: 10px !important;
//     margin-right: 5px;
// }
//
// .tags ul li p {
//     color:#005e94;
//     margin-bottom: 0;
// }
//
// .tags a {
//     color: #0078bd;
//     margin-left: 5px;
// }
//
// .tags a:after {
//     content: '\f00d';
//     font-family: FontAwesome;
// }


/* END */

/* settings */

.settings {
    border-bottom: 1px solid #ccc;
    padding:10px 0;
}

.settings p {
    line-height: 15px;
}

.settings:last-child {
    border-bottom: none;
}

.settings-breaker {
    border:none;
    margin: 29px 0;
}

.user-settings {
    position: relative;
    bottom: 0;
    right: -58px;
    width:calc(100% - 58px);
    border-top: 1px solid #403e4e;
}

.user-settings a {
    color: #717171;
    display: block;
    padding: 20px 0 20px 13px;
    text-transform: uppercase;
}

.user-settings a:hover, .user-settings a.active {
    color:#fff;
}

.user-settings span {
    margin-left: 5px;
}

/* END */

/* datepicker */

.datepicker { position: relative; }

.datepicker:before {
    content:"\f073";
    position: absolute;
    top: 6px;
    left: 6px;
    font-family: FontAwesome;
    font-size: 14px;
}

.datepicker.transfers:before {
    top: 10px !important;
    left: 8px !important;
    color: #aeaeae !important;
}

.datepicker input[type="text"] {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
}

.date-from {
    width:9.5%;
    float:left;
}

.date-to {
    width:9.5%;
    float:left;
}

.date-from .datepicker, .date-to .datepicker { position: relative; float:left; }

.date-from .datepicker:before, .date-to .datepicker:before {
    content:"\f073";
    position: absolute;
    top: 6px;
    left: 6px;
    font-family: FontAwesome;
    font-size: 14px;
}

.date-from .datepicker.transfers:before, .date-to .datepicker.transfers:before {
    top: 10px !important;
    left: 8px !important;
    color: #aeaeae !important;
}

.date-from .datepicker input[type="text"], .date-to .datepicker input[type="text"] {
    padding-left: 25px;
}

.filter-apply {
    width: 6%;
    float:left;
    text-align: right;
}

/* END */

/* Btn Set (Manage Inventory) */
.btn-set {
    max-width: 136px;
    margin-right: 10px;
}


.btn-set ul { font-size: 0; }

.btn-set ul li {
    display: inline-block;
    width: 33.33%;
}

.btn-set ul li input {
    width: 100%;
    height: 100%;
    background-color: initial;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #e75b27;
    padding: 7px 2px;
    border: none;
    transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
}

.btn-set ul li input[type="submit"]:hover { color: #fff; }

.btn-set ul li:nth-child(2) {
    border-left: #e75b27 1px solid;
    border-right: #e75b27 1px solid;
}


/* Search */
.srch { position: relative; }

.srch:before {
    content:"\f002";
    position: absolute;
    top: 10px;
    left: 8px;
    font-family: FontAwesome;
    font-size: 14px;
    color: #aeaeae;
}

.srch input[type="text"] {
    padding: 9px 12px 9px 25px;
}


.border-wrap {
    border:1px solid #e4e2e2;
    padding: 15px 12px;
    margin-bottom: 20px;
}

.border-wrap h3 {
    margin-bottom: 8px;
}

.border-wrap hr {
    border: none;
    margin: 20px 0;
}

.border-break {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin: 0 0 20px;
}

.border-wrap ul li {
    line-height: 16px;
    margin-bottom: 16px;
}

.border-wrap ul li:last-child, .border-wrap ul li:last-child p, .border-wrap ul li p{
    margin-bottom: 0;
}

.border-wrap .two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


.border-wrap .three-col {
    // -webkit-column-count: 3; /* Chrome, Safari, Opera */
    // -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.border-wrap label {
    display: block;
    margin-bottom: 1px;
    font-weight: 700;
}

.border-wrap input[type='text'], .border-wrap input[type='number'] {
    border: 1px solid #e4e2e2;
/*    padding:5px 2px;*/
    color:#7e7e7e;
}

.border-wrap input[type=file] {
    border: 1px solid #e4e2e2;
    padding:5px 2px;
    color:#7e7e7e;
}

#form-control .form-required {
    font-size: 15px;
    color:red;
    margin-left: 10px;
}

.border-wrap textarea {
    border: 1px solid #e4e2e2;
    padding:7px 11px;
    color:#7e7e7e;
}

.border-wrap input[type=text]:disabled {
    background: #f0f0f0;
}

.border-wrap input[type=text]:disabled:hover {
    cursor: not-allowed;
}

.border-wrap input[readonly] {
    background: #fff;
}

.border-wrap .search input {
    padding:5px 25px;
}

.select-wrap {
    border: 1px solid #e4e2e2;
    overflow: hidden;
    position: relative;
    display: block;
}

.select-wrap select{
    padding:7px 11px;
    border: 0;
    font-size: 12px;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #7e7e7e;
}

.select-wrap:after {
    content:"\f0d7";
    font-family: 'FontAwesome';
    color: #000;
    padding:6px;
    position: absolute;
    right: 2%;
    top: 10%;
    z-index: 1;
    text-align: center;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

//.border-wrap img {
//    border:1px solid #ccc;
//    max-width: 250px;
//    display: block;
//}

.delete-all select {
    border:1px solid #e4e2e2;
    color:#000;
    padding: 12px 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/arrow-down.png") no-repeat right 10px center;
}


.product-border {
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc !important;
}

.order-item {
    border:1px solid #e4e2e2;
    margin-top: 20px;
}

.order-item img {
    padding-top:10px;
}

.browse {
    float:left;
    width: 100%;
}

.browse input {
    float:left;
     width: 85%;
}

.item-table {
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.item-table>thead>tr>th {
    vertical-align: bottom;
    background: #f0f0f0;
    border-bottom: 1px solid #e4e2e2;
    text-transform: capitalize;
    padding: 16px;
}

.item-table>tbody>tr>td {
    padding: 16px;
    font-weight: 100;
    line-height: 1.42857143;
    vertical-align: top;
    text-transform: capitalize;
    border-top: 1px solid #e4e2e2;
}

.discount-section p {
    color:#828282;
    font-size: 9px;
}

/* Login */
.logo-jump {
    display: block;
    background: url('../img/logo-big.png') no-repeat;
    background-size: 131px;
    width: 131px;
    height: 60px;
    margin: 0 auto 32px;
}

/*.form-login {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 342px;
    width: 100%;
    background-color: #fff;
    padding: 42px 28px 46px 30px;
    margin: 0 auto;
    color: #272727;
    border: #e7e5e6 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;;
    transform: translate(-50%,-50%);
    -moz-transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}*/

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-login {
    max-width: 342px;
    height: 431px;
    width: 100%;
    background-color: #fff;
    padding: 42px 28px 46px 30px;
    color: #272727;
    border: #e7e5e6 1px solid;
    border-radius: 3px;
}

.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 12px 12px 13px;
    margin-bottom: 22px;
    border: #e0e0e0 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.form-login label {
    display: block;
    margin-bottom: 12px;
}

.form-login a { color: #272727; }
.form-login a:hover { text-decoration: underline; }

.form-login input[type="submit"] {
    background-color: #2684f8;
    color: #fff;
    border: none;
    transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
}

.form-login input[type="submit"]:hover { background-color: #2175db; }

/* -- Login END -- */

/* harvester */

.social-media {
    text-align: center;
    position: relative;
}

.social-media p {
    margin:10px 0;
    line-height: 19px;
    color:#858585;
}

.social-desc {
    background:#ebebeb;
    padding: 25px 25px 10px;
    word-wrap: break-word;
}

.social-switch input[type="checkbox"] {
    margin-top: 8px;
}

.social-content {
    padding:28px 15px;
}

.social-media:hover .social-switch{
    opacity: 1;
}

.social-switch {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    background: rgba(0,0,0,.4);
}

.social-switch i {
    color:#fff;
    font-size: 15px;
    background:#e75b27;
    padding:8px;
}

.overlay-disabled {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(41,41,41,0.8);
    padding:10px;
    opacity: 1;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.harvest-check-all {
    margin-right: -7px;
    margin-left: -7px;
    margin-bottom: 25px;
}

.harvest-check-all .col-checkbox {
    width:11%;
    /*margin-top: 8px;
    padding-left: 7px;
    padding-right: 7px;*/
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    float:left;
}

.col-checkbox input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: -2px;
}

.col-checkbox label {
    min-height: 20px;
    padding-left: 28px;
    margin-top: 58px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.harvest-check-all .col-actions {
    width: 11%;
    padding-left: 7px;
    padding-right: 7px;
    float:left;
}

.reports {
    padding:20px 0;
}

.reports ul {
    margin-bottom: 50px;
}

.reports ul li {
    display: inline-block;
    text-align: center;
    border-left: 1px solid #e4e2e3;
    padding:0 18px;
    margin-bottom:10px;
}

.reports ul li:first-child {
    border:none;
}

.reports label {
    margin-bottom: 10px;
    font-weight: bold;
}

.reports li p {
    margin:0;
}

.reports li p strong {
    text-transform: uppercase;
}

.reports li h4 {
    font-size: 30px;
    color:#848484;
}

.report-duration {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}

.daterange { position: relative; }

.daterange:before {
    content:"\f073";
    position: absolute;
    top: 6px;
    left: 6px;
    font-family: FontAwesome;
    font-size: 14px;
}

.daterange.transfers:before {
    top: 10px !important;
    left: 8px !important;
    color: #aeaeae !important;
}

.daterange input[type="text"] {
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 5px;
    width:100%;
}

/* ---- harvester social ---- */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  padding-left: 7px;
  padding-right:7px;
  margin-bottom: 14px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.grid-scroll::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.grid-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

.grid-scroll {
    overflow: hidden;
}

.grid-scroll:hover {
    overflow: auto;
}

.product-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.product-scroll::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.product-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

.product-scroll {
    overflow: hidden;
    height:313px;
}

.product-scroll:hover {
    overflow: auto;
}

.gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.gallery::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

.gallery {
    overflow: hidden;
    height:440px;
}

.gallery:hover {
    overflow: auto;
}



.ui-menu .ui-menu-item a {
    padding:10px !important;
    display: block;
}

.button-group {
    background: #f6f6f6;
    font-size: 0;
}

.button-group button.button {
    color:#000;
    font-size: 11px;
    display: inline-block;
    background: #f6f6f6;
    padding:13px 30px;
    text-transform: capitalize;
    text-align: center;
    border-right:1px solid #e4e2e2;
    border-bottom:1px solid #e4e2e2;
    box-sizing: border-box;
}

.button-group button:hover {
    background: #fcfcfc;
}

.button-group button.is-checked {
    background: #fcfcfc;
    border-bottom:none;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    max-width: 900px;
    cursor: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.popup-modal-dismiss i {
    font-size: 20px;
}

.canvasjs-chart-credit {
    display: none;
}

/* Dashboard */
.list li {
    padding: 10px 0 17px;
    border-bottom: 1px solid #e4e2e2;
}

.list li:last-child {
    border-bottom: none;
}

/* Gallery */
.gallery {
    font-size: 0;
}

.gallery img {
    display: inline-block;
    width:25%;
}

.dashboard {
    color:#fff;
}

.dashboard i {
    margin-right: 10px;
}

.dashboard h2 {
    font-size: 17px;
    font-weight: 400;
}

.dashboard h3 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

.dashboard .bg-green {
    background: #6ccac9;
}

.dashboard .bg-red {
    background: #ff6c62;
}

.dashboard .bg-blue {
    background: #58c7f2;
}

.dashboard .bg-yellow {
    background: #fdd833;
}

.dashboard .bg-dark-blue {
    background: #3366cc;
}

.dashboard .bg-rose {
    background: #ff0066;
}

.dashboard .bg-blue-green {
    background: #0099cc;
}

.dashboard-title {
    border-bottom: 1px solid #e4e2e2;
    padding-bottom: 8px;
}

/* Modal Alert */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 15em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #e75b27;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #e6460b;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

img.payment-option {
    width: 90px;
    border: none;
}

@media screen and (max-width: 1600px) {

    .main-content {
        padding:20px 50px;
    }

}

@media screen and (max-width: 981px) {

    .side-panel, .main-panel {
        transform: translate(-239px,0);
        -ms-transform: translate(-239px,0);
        -moz-transform: translate3d(-239px,0,0);
        -webkit-transform: translate3d(-239px,0,0);
    }

    .header {
        left:0;
        padding: 20px 15px 20px;
        width:100%;
        transition: all .5s;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    .main-panel {
        width: 100%;
    }

    .main-content {
        padding:20px 20px;
    }

    .side-panel.open, .main-panel.open {
        transform: translate(0,0);
        -ms-transform: translate(0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }

    #nav-icon {
        display: block;
    }

    #icon-title, .campaign-img {
        display: none;
    }

    .harvest-check-all .col-checkbox {
        width:12%;
    }

    .harvest-check-all .col-actions {
        width: 17%;
    }

    .breadcrumb li, .breadcrumb > li + li:before {
        display: none;
    }

    .breadcrumb li:last-child {
        display:block;
    }

/*    .empty-state figure {
        margin:30px 0;
    }*/

    .empty-state {
        padding:50px 0;
    }

}

@media screen and (max-width: 800px) {

    .tab-container {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 560px) {

    .harvest-check-all .col-checkbox {
        width:33.33%;
    }

    .harvest-check-all .col-actions {
        width:33.33%;
    }

    .header {
        padding: 17px 15px 17px;
    }

    #nav-icon {
        margin-top: 11px;
    }
    .breadcrumb {
        padding: 11px 10px 0;
    }

    .empty-state figure {
        margin:30px 0;
    }

    .empty-state {
        padding:80px 0;
    }
}

.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}
.popover {
    max-width: 500px;
}
/*Page Loader 
#loading-bar .bar {
  position: relative;
}
*/